[
  {
    "json-type": "item",
    "templateId": 1289,
    "name": "rune of Magranon",
    "plural": "runes of Magranon",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "normal",
      "bad": "ok",
      "rotten": "poor",
      "long": "A small rune created from resources on Jackal and infused with the spirit of Magranon."
    },
    "itemTypes": [
      48,
      157,
      233,
      235
    ],
    "imageNumber": 381,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 28800,
    "dimensions": {
      "x": 10,
      "y": 10,
      "z": 10
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.rune.magranon.",
    "difficulty": 80.0,
    "weight": 100,
    "material": 11,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1290,
    "name": "rune of Fo",
    "plural": "runes of Fo",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "normal",
      "bad": "ok",
      "rotten": "poor",
      "long": "A small rune created from resources on Jackal and infused with the spirit of Fo."
    },
    "itemTypes": [
      48,
      157,
      233,
      235
    ],
    "imageNumber": 382,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 28800,
    "dimensions": {
      "x": 10,
      "y": 10,
      "z": 10
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.rune.fo.",
    "difficulty": 80.0,
    "weight": 100,
    "material": 11,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1291,
    "name": "rune of Vynora",
    "plural": "runes of Vynora",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "normal",
      "bad": "ok",
      "rotten": "poor",
      "long": "A small rune created from resources on Jackal and infused with the spirit of Vynora."
    },
    "itemTypes": [
      48,
      157,
      233,
      235
    ],
    "imageNumber": 383,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 28800,
    "dimensions": {
      "x": 10,
      "y": 10,
      "z": 10
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.rune.vynora.",
    "difficulty": 80.0,
    "weight": 100,
    "material": 11,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1292,
    "name": "rune of Libila",
    "plural": "runes of Libila",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "normal",
      "bad": "ok",
      "rotten": "poor",
      "long": "A small rune created from resources on Jackal and infused with the spirit of Libila."
    },
    "itemTypes": [
      48,
      157,
      233,
      235
    ],
    "imageNumber": 384,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 28800,
    "dimensions": {
      "x": 10,
      "y": 10,
      "z": 10
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.rune.libila.",
    "difficulty": 80.0,
    "weight": 100,
    "material": 11,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1293,
    "name": "rune of Jackal",
    "plural": "runes of Jackal",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "normal",
      "bad": "ok",
      "rotten": "poor",
      "long": "A small rune created from resources on Jackal and infused with the spirit of Jackal."
    },
    "itemTypes": [
      48,
      157,
      233,
      235
    ],
    "imageNumber": 385,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 28800,
    "dimensions": {
      "x": 10,
      "y": 10,
      "z": 10
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.rune.jackal.",
    "difficulty": 80.0,
    "weight": 100,
    "material": 11,
    "value": 0,
    "isPurchased": false
  }
]