[
  {
    "json-type": "item",
    "templateId": 1301,
    "name": "wagoner campfire",
    "plural": "wagoner campfires",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A campfire used by a wagoner when they are not out delivering."
    },
    "itemTypes": [
      21,
      31,
      48,
      49,
      52,
      123,
      157,
      207,
      245,
      246
    ],
    "imageNumber": 291,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 41,
      "y": 41,
      "z": 201
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fireplace.campfire.",
    "difficulty": 1.0,
    "weight": 1500,
    "material": 14,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1308,
    "name": "wagoner tent",
    "plural": "wagoner tents",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A small but useful tent used by a wagoner when they are resting between deliveries. "
    },
    "itemTypes": [
      24,
      48,
      52,
      61,
      109,
      181,
      207,
      245,
      246
    ],
    "imageNumber": 640,
    "behaviourType": 41,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 50
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.tent.small.wagoner.",
    "difficulty": 10.0,
    "weight": 500,
    "material": 17,
    "value": 1,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1309,
    "name": "wagoner container",
    "plural": "wagoner containers",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A container that can hold up to 20 large crates and is used as a collection point for bulk deliveries."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      48,
      51,
      52,
      54,
      108,
      135,
      157,
      178,
      246,
      257
    ],
    "imageNumber": 311,
    "behaviourType": 61,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 240,
      "y": 240,
      "z": 600
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.crate.huge.",
    "difficulty": 30.0,
    "weight": 6500,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  }
]