[
  {
    "json-type": "item",
    "templateId": 186,
    "name": "cart",
    "plural": "carts",
    "size": 2,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A small two wheel cart designed to be dragged by one person."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      51,
      52,
      54,
      56,
      92,
      108,
      117,
      134,
      193,
      135,
      160,
      176
    ],
    "imageNumber": 60,
    "behaviourType": 41,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 60,
      "y": 60,
      "z": 210
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.small.cart.",
    "difficulty": 10.0,
    "weight": 60000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 187,
    "name": "wheel",
    "plural": "wheels",
    "size": 2,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A small wheel, supposed to be fit on a shaft."
    },
    "itemTypes": [
      21,
      44
    ],
    "imageNumber": 247,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 2,
      "y": 40,
      "z": 40
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.part.small.wheel.",
    "difficulty": 10.0,
    "weight": 5000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 191,
    "name": "wheel axle",
    "plural": "wheel axles",
    "size": 2,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "Two small wheels fitted on a sturdy shaft."
    },
    "itemTypes": [
      21,
      44,
      51
    ],
    "imageNumber": 267,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 40,
      "y": 40,
      "z": 200
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.part.small.wheelaxle.",
    "difficulty": 5.0,
    "weight": 11000,
    "material": 14,
    "value": 100,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 539,
    "name": "cart",
    "plural": "carts",
    "size": 4,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A fairly large two wheel cart designed to be dragged by an animal."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      51,
      52,
      54,
      56,
      92,
      108,
      117,
      134,
      193,
      160,
      176,
      180
    ],
    "imageNumber": 60,
    "behaviourType": 41,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 120,
      "y": 130,
      "z": 410
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.large.cart.",
    "difficulty": 30.0,
    "weight": 240000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 850,
    "name": "wagon",
    "plural": "wagons",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A fairly large wagon designed to be dragged by four animals."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      48,
      51,
      52,
      54,
      108,
      117,
      134,
      193,
      160,
      176,
      180
    ],
    "imageNumber": 60,
    "behaviourType": 41,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 300,
      "y": 410,
      "z": 550
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.transports.medium.wagon.",
    "difficulty": 70.0,
    "weight": 240000,
    "material": 14,
    "value": 50000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 853,
    "name": "ship transporter",
    "plural": "transporters",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A cart designed to transport ships over land."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      51,
      52,
      54,
      56,
      92,
      108,
      117,
      134,
      193,
      160
    ],
    "imageNumber": 60,
    "behaviourType": 41,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 120,
      "y": 130,
      "z": 410
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.transports.large.ship.transporter.",
    "difficulty": 30.0,
    "weight": 240000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  }
]