[
  {
    "json-type": "item",
    "templateId": 1341,
    "name": "tackle box",
    "plural": "tackle boxes",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A small chest with compartments inside specifically for holding fishing tackle."
    },
    "itemTypes": [
      1,
      22,
      44,
      47,
      51,
      52,
      92,
      108,
      135,
      147,
      180
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 30,
      "y": 30,
      "z": 50
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.tacklebox.",
    "difficulty": 10.0,
    "weight": 1000,
    "material": 34,
    "value": 10000,
    "isPurchased": false,
    "containerSize": {
      "x": 0,
      "y": 0,
      "z": 0
    }
  },
  {
    "json-type": "item",
    "templateId": 1342,
    "name": "fish keep net",
    "plural": "fish keep nets",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A net that is used to hold fish caught, whilst fishing, to keep them fresh."
    },
    "itemTypes": [
      1,
      24,
      44,
      48,
      52,
      108,
      147,
      199
    ],
    "imageNumber": 343,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 28800,
    "dimensions": {
      "x": 10,
      "y": 50,
      "z": 50
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.net.keep.",
    "difficulty": 45.0,
    "weight": 10000,
    "material": 17,
    "value": 3000,
    "isPurchased": true,
    "containerSize": {
      "x": 150,
      "y": 150,
      "z": 800
    }
  },
  {
    "json-type": "item",
    "templateId": 1343,
    "name": "fishing net",
    "plural": "fishing nets",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A net that can be used to catch small fish in shallows."
    },
    "itemTypes": [
      1,
      24,
      44,
      63,
      108,
      147
    ],
    "imageNumber": 885,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 28800,
    "dimensions": {
      "x": 10,
      "y": 50,
      "z": 50
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.net.fish.",
    "difficulty": 1.0,
    "weight": 500,
    "material": 17,
    "value": 3000,
    "isPurchased": true,
    "containerSize": {
      "x": 50,
      "y": 50,
      "z": 100
    }
  },
  {
    "json-type": "item",
    "templateId": 1376,
    "name": "compartment",
    "plural": "compartments",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A compartment for holding fishing reels."
    },
    "itemTypes": [
      1,
      21,
      31,
      112,
      157,
      229,
      232,
      245
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 4,
      "y": 4,
      "z": 120
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.shelf.",
    "difficulty": 50.0,
    "weight": 40,
    "material": 14,
    "value": 1,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1377,
    "name": "compartment",
    "plural": "compartments",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A compartment for holding fishing lines."
    },
    "itemTypes": [
      1,
      21,
      31,
      112,
      157,
      229,
      232,
      245
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 1,
      "y": 1,
      "z": 1001
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.shelf.",
    "difficulty": 50.0,
    "weight": 20,
    "material": 14,
    "value": 1,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1378,
    "name": "compartment",
    "plural": "compartments",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A compartment for holding fishing floats."
    },
    "itemTypes": [
      1,
      21,
      31,
      112,
      157,
      229,
      232,
      245
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 1,
      "y": 2,
      "z": 101
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.shelf.",
    "difficulty": 50.0,
    "weight": 10,
    "material": 14,
    "value": 1,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1379,
    "name": "compartment",
    "plural": "compartments",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A compartment for holding fishing hooks."
    },
    "itemTypes": [
      1,
      21,
      31,
      112,
      157,
      229,
      232,
      245
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 1,
      "y": 1,
      "z": 101
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.shelf.",
    "difficulty": 50.0,
    "weight": 10,
    "material": 14,
    "value": 1,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1380,
    "name": "compartment",
    "plural": "compartments",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A compartment to hold fly for baits."
    },
    "itemTypes": [
      1,
      21,
      31,
      112,
      157,
      229,
      232,
      245
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 1,
      "y": 1,
      "z": 101
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.shelf.",
    "difficulty": 50.0,
    "weight": 10,
    "material": 14,
    "value": 1,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1381,
    "name": "compartment",
    "plural": "compartments",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A compartment to hold cheese for baits."
    },
    "itemTypes": [
      1,
      21,
      31,
      112,
      157,
      229,
      232,
      245
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 1,
      "y": 1,
      "z": 101
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.shelf.",
    "difficulty": 50.0,
    "weight": 10,
    "material": 14,
    "value": 1,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1382,
    "name": "compartment",
    "plural": "compartments",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A compartment to hold dough for baits."
    },
    "itemTypes": [
      1,
      21,
      31,
      112,
      157,
      229,
      232,
      245
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 1,
      "y": 1,
      "z": 101
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.shelf.",
    "difficulty": 50.0,
    "weight": 10,
    "material": 14,
    "value": 1,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1383,
    "name": "compartment",
    "plural": "compartments",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A compartment to hold wurm for baits."
    },
    "itemTypes": [
      1,
      21,
      31,
      112,
      157,
      229,
      232,
      245
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 1,
      "y": 1,
      "z": 101
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.shelf.",
    "difficulty": 50.0,
    "weight": 10,
    "material": 14,
    "value": 1,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1384,
    "name": "compartment",
    "plural": "compartments",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A compartment to hold fish bits for bait."
    },
    "itemTypes": [
      1,
      21,
      31,
      112,
      157,
      229,
      232,
      245
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 1,
      "y": 1,
      "z": 101
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.shelf.",
    "difficulty": 50.0,
    "weight": 10,
    "material": 14,
    "value": 1,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1385,
    "name": "compartment",
    "plural": "compartments",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A compartment to hold grub for bait."
    },
    "itemTypes": [
      1,
      21,
      31,
      112,
      157,
      229,
      232,
      245
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 1,
      "y": 1,
      "z": 101
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.shelf.",
    "difficulty": 50.0,
    "weight": 10,
    "material": 14,
    "value": 1,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1386,
    "name": "compartment",
    "plural": "compartments",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A compartment to hold wheat grains for bait."
    },
    "itemTypes": [
      1,
      21,
      31,
      112,
      157,
      229,
      232,
      245
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 1,
      "y": 1,
      "z": 101
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.shelf.",
    "difficulty": 50.0,
    "weight": 10,
    "material": 14,
    "value": 1,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1387,
    "name": "compartment",
    "plural": "compartments",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A compartment to hold corn kernals for bait."
    },
    "itemTypes": [
      1,
      21,
      31,
      112,
      157,
      229,
      232,
      245
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 1,
      "y": 1,
      "z": 101
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.shelf.",
    "difficulty": 50.0,
    "weight": 10,
    "material": 14,
    "value": 1,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1388,
    "name": "compartment",
    "plural": "compartments",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A compartment to hold sardine for bait."
    },
    "itemTypes": [
      1,
      21,
      31,
      112,
      157,
      229,
      232,
      245
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 2,
      "y": 4,
      "z": 50
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.shelf.",
    "difficulty": 50.0,
    "weight": 10,
    "material": 14,
    "value": 1,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1389,
    "name": "compartment",
    "plural": "compartments",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A compartment to hold roach for bait."
    },
    "itemTypes": [
      1,
      21,
      31,
      112,
      157,
      229,
      232,
      245
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 4,
      "y": 10,
      "z": 200
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.shelf.",
    "difficulty": 50.0,
    "weight": 10,
    "material": 14,
    "value": 1,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1390,
    "name": "compartment",
    "plural": "compartments",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A compartment to hold perch for bait."
    },
    "itemTypes": [
      1,
      21,
      31,
      112,
      157,
      229,
      232,
      245
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 4,
      "y": 10,
      "z": 200
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.shelf.",
    "difficulty": 50.0,
    "weight": 10,
    "material": 14,
    "value": 1,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1391,
    "name": "compartment",
    "plural": "compartments",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A compartment to hold minnow for bait."
    },
    "itemTypes": [
      1,
      21,
      31,
      112,
      157,
      229,
      232,
      245
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 2,
      "y": 4,
      "z": 220
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.shelf.",
    "difficulty": 50.0,
    "weight": 10,
    "material": 14,
    "value": 1,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1393,
    "name": "fishing rod rack",
    "plural": "fishing rod racks",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A purposeful rack that works for fishing poles and rods."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      51,
      52,
      67,
      86,
      176,
      178,
      199
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 10,
      "y": 110,
      "z": 180
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.rods.",
    "difficulty": 35.0,
    "weight": 20000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1395,
    "name": "fishing trophy",
    "plural": "fishing trophies",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A trophy stand to show off what nice fish you caught."
    },
    "itemTypes": [
      21,
      44,
      48,
      51,
      52,
      67,
      86,
      199
    ],
    "imageNumber": 626,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 3,
      "y": 15,
      "z": 100
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.trophy.",
    "difficulty": 30.0,
    "weight": 2000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1396,
    "name": "buoy",
    "plural": "buoys",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A buoy with a lamp, used to mark a fishing spot or a sea lane."
    },
    "itemTypes": [
      21,
      116,
      44,
      48,
      51,
      52,
      86,
      92,
      101,
      108,
      143,
      199,
      249
    ],
    "imageNumber": 245,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 30,
      "y": 30,
      "z": 80
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.light.buoy.",
    "difficulty": 45.0,
    "weight": 3000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  }
]