[
  {
    "json-type": "item",
    "templateId": 157,
    "name": "pike",
    "plural": "pikes",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "A long grey fish with a strong jaw lined with lots of small sharp teeth."
    },
    "itemTypes": [
      5,
      36,
      75,
      108,
      146,
      212,
      219,
      223
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 5,
      "y": 10,
      "z": 60
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.pike.",
    "difficulty": 45.0,
    "weight": 6000,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 158,
    "name": "smallmouth bass",
    "plural": "smallmouth bass",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "This fish has greenish sides with dark vertical bars that come and go, and three dark bars radiating from the eye."
    },
    "itemTypes": [
      5,
      36,
      75,
      108,
      146,
      212,
      219,
      223
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 5,
      "y": 10,
      "z": 60
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.bass.",
    "difficulty": 47.0,
    "weight": 4000,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 159,
    "name": "herring",
    "plural": "herrings",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "A long and thin bright silvery fish with blue-black back and a protruding lower jaw ."
    },
    "itemTypes": [
      5,
      36,
      75,
      108,
      146,
      212,
      219,
      223
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 5,
      "y": 10,
      "z": 30
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.herring.",
    "difficulty": 10.0,
    "weight": 300,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 160,
    "name": "catfish",
    "plural": "catfishes",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "A pretty large and strange bluish, black fish with whiskers."
    },
    "itemTypes": [
      5,
      36,
      75,
      108,
      146,
      212,
      219,
      223
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 15,
      "y": 50,
      "z": 200
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.catfish.",
    "difficulty": 35.0,
    "weight": 25000,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 161,
    "name": "snook",
    "plural": "snooks",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "This white fish is yellowish brown on the top back and has a distinct black lateral line."
    },
    "itemTypes": [
      5,
      36,
      75,
      108,
      146,
      212,
      219,
      223
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 5,
      "y": 10,
      "z": 80
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.snook.",
    "difficulty": 70.0,
    "weight": 20000,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 162,
    "name": "roach",
    "plural": "roaches",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "A small silvery fish of little worth."
    },
    "itemTypes": [
      5,
      36,
      75,
      108,
      146,
      212,
      219,
      223,
      254
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 4,
      "y": 7,
      "z": 20
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.roach.",
    "difficulty": 3.0,
    "weight": 200,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 163,
    "name": "perch",
    "plural": "perches",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "An olive green and golden fish with dark ribbons."
    },
    "itemTypes": [
      5,
      36,
      75,
      108,
      146,
      212,
      219,
      223,
      254
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 4,
      "y": 7,
      "z": 30
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.perch.",
    "difficulty": 7.0,
    "weight": 500,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 164,
    "name": "carp",
    "plural": "carp",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "A large yellowy fish with large bulbous eyes."
    },
    "itemTypes": [
      5,
      36,
      75,
      108,
      146,
      212,
      219,
      223
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 5,
      "y": 15,
      "z": 100
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.carp.",
    "difficulty": 55.0,
    "weight": 16000,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 165,
    "name": "brook trout",
    "plural": "brook trouts",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "This fish has a brownish green back with wormlike marks and some small red spots with blue halos."
    },
    "itemTypes": [
      5,
      36,
      75,
      108,
      146,
      212,
      219,
      223
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 5,
      "y": 10,
      "z": 40
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.trout.",
    "difficulty": 25.0,
    "weight": 3000,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 569,
    "name": "marlin",
    "plural": "marlins",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "This marlin is a bluish silvery sturdy thick fish with a distinctive upper jaw that forms a pointed spear or bill and some pretty extraordinary fins."
    },
    "itemTypes": [
      5,
      36,
      75,
      108,
      146,
      212,
      219,
      223
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 20,
      "y": 40,
      "z": 180
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.marlin.",
    "difficulty": 80.0,
    "weight": 200000,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 570,
    "name": "blue shark",
    "plural": "blue sharks",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "Living in packs, the blue sharks could be called the wolves of the sea. Only a fool would fail to respect their menacing jaws."
    },
    "itemTypes": [
      5,
      36,
      75,
      108,
      146,
      212,
      219,
      223
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 40,
      "y": 50,
      "z": 180
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.blueshark.",
    "difficulty": 75.0,
    "weight": 40000,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 571,
    "name": "white shark",
    "plural": "white sharks",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "These constantly hungry monsters look alive even in their death. The cold gaze of the shark penetrates you into the spine."
    },
    "itemTypes": [
      5,
      36,
      75,
      108,
      146,
      212,
      219,
      223
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 20,
      "y": 50,
      "z": 180
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.whiteshark.",
    "difficulty": 77.0,
    "weight": 200000,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 572,
    "name": "octopus",
    "plural": "octopus",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "This is a weird beast with eight legs. You have heard scary rumours that larger variants sometimes attack ships."
    },
    "itemTypes": [
      5,
      36,
      75,
      108,
      146,
      212,
      219,
      223
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 10,
      "y": 15,
      "z": 40
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.octopus.black.",
    "difficulty": 60.0,
    "weight": 10000,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 573,
    "name": "sailfish",
    "plural": "sailfish",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "Now, isn't this the weirdest thing? A fish with a glistening sail instead of a back fin!"
    },
    "itemTypes": [
      5,
      36,
      74,
      108,
      146,
      212,
      219,
      223
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 5,
      "y": 10,
      "z": 80
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.sailfish.",
    "difficulty": 65.0,
    "weight": 10000,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 574,
    "name": "dorado",
    "plural": "dorados",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "The dorado is a thick beautiful green-blue fish with a massive head but thin tail. It somewhat resembles a huge water drop."
    },
    "itemTypes": [
      5,
      36,
      75,
      108,
      146,
      212,
      219,
      223
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 5,
      "y": 10,
      "z": 80
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.dorado.",
    "difficulty": 72.0,
    "weight": 30000,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 575,
    "name": "tuna",
    "plural": "tunas",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "The tuna is a robust fish with conical head and a rather large mouth. The color is dark blue above and grey below, and they have a delicious red meat."
    },
    "itemTypes": [
      5,
      36,
      76,
      108,
      146,
      212,
      219,
      223
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 15,
      "y": 40,
      "z": 100
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.tuna.",
    "difficulty": 68.0,
    "weight": 60000,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1335,
    "name": "salmon",
    "plural": "salmons",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "The common name for several species of ray-finned fish in the family Salmonidae."
    },
    "itemTypes": [
      5,
      36,
      76,
      108,
      146,
      212,
      219,
      223
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 8,
      "y": 20,
      "z": 100
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.salmon.",
    "difficulty": 50.0,
    "weight": 25000,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1336,
    "name": "tarpon",
    "plural": "tarpons",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "Tarpons are large air-breathing fish of the genus Megalops."
    },
    "itemTypes": [
      5,
      36,
      76,
      108,
      146,
      212,
      219,
      223
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 15,
      "y": 40,
      "z": 100
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.tarpon.",
    "difficulty": 57.0,
    "weight": 50000,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1337,
    "name": "sardine",
    "plural": "sardines",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "Sardine and pilchard are common names used to refer to various small, oily fish in the herring family, family Clupeidae."
    },
    "itemTypes": [
      5,
      36,
      76,
      108,
      146,
      212,
      219,
      223,
      254
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 2,
      "y": 4,
      "z": 10
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.sardine.",
    "difficulty": 2.0,
    "weight": 100,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1338,
    "name": "minnow",
    "plural": "minnows",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "Minnows are small freshwater fish of the family Cyprinidae, ideal for bait."
    },
    "itemTypes": [
      5,
      36,
      76,
      108,
      146,
      212,
      219,
      223,
      254
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 2,
      "y": 4,
      "z": 10
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.minnow.",
    "difficulty": 4.0,
    "weight": 100,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1339,
    "name": "loach",
    "plural": "loaches",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "The loach is a small eel-like freshwater fish belonging to the loach family (Cobitidae)."
    },
    "itemTypes": [
      5,
      36,
      76,
      108,
      146,
      212,
      219,
      223
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 4,
      "y": 7,
      "z": 50
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.loach.",
    "difficulty": 21.0,
    "weight": 2000,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1340,
    "name": "wurmfish",
    "plural": "wurmfishs",
    "size": 3,
    "descriptions": {
      "superb": "delicious",
      "normal": "nice",
      "bad": "old",
      "rotten": "rotten",
      "long": "A unique blind fish found in caves."
    },
    "itemTypes": [
      5,
      36,
      76,
      108,
      146,
      212,
      219,
      223
    ],
    "imageNumber": 504,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 5,
      "y": 10,
      "z": 50
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.wurm.",
    "difficulty": 42.0,
    "weight": 5000,
    "material": 2,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1394,
    "name": "clam",
    "plural": "clams",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A clam that may have something useful in it."
    },
    "itemTypes": [
      112,
      146,
      157,
      229
    ],
    "imageNumber": 1499,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 86400,
    "dimensions": {
      "x": 10,
      "y": 10,
      "z": 35
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fish.clam.",
    "difficulty": 50.0,
    "weight": 2000,
    "material": 15,
    "value": 100,
    "isPurchased": false
  }
]