[
  {
    "json-type": "item",
    "templateId": 487,
    "name": "flag",
    "plural": "flags",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "Apart from being a symbol of your allegiance and territorial demands, this is also a good indication of where the wind is blowing."
    },
    "itemTypes": [
      24,
      44,
      48,
      52,
      124,
      86,
      92,
      167,
      119,
      147,
      173,
      199
    ],
    "imageNumber": 640,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 205
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.flag.",
    "difficulty": 30.0,
    "weight": 2500,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 577,
    "name": "banner",
    "plural": "banners",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "An elegant symbol of allegiance and faith."
    },
    "itemTypes": [
      24,
      44,
      48,
      51,
      52,
      86,
      92,
      167,
      119,
      147,
      173,
      199
    ],
    "imageNumber": 640,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 205
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.banner.",
    "difficulty": 40.0,
    "weight": 2500,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 578,
    "name": "kingdom banner",
    "plural": "banners",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "An elegant symbol of allegiance and faith."
    },
    "itemTypes": [
      24,
      44,
      48,
      51,
      52,
      86,
      92,
      167,
      119,
      173,
      199
    ],
    "imageNumber": 640,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 205
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.banner.",
    "difficulty": 50.0,
    "weight": 2500,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 579,
    "name": "kingdom flag",
    "plural": "flags",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "Apart from being a symbol of your allegiance and territorial demands, this is also a good indication of where the wind is blowing."
    },
    "itemTypes": [
      24,
      44,
      48,
      52,
      124,
      86,
      92,
      167,
      119,
      173,
      199
    ],
    "imageNumber": 640,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 205
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.flag.",
    "difficulty": 40.0,
    "weight": 2500,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 999,
    "name": "tall kingdom banner",
    "plural": "tall banners",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "An elegant symbol of allegiance and faith."
    },
    "itemTypes": [
      24,
      44,
      48,
      51,
      52,
      86,
      92,
      167,
      119,
      173,
      199
    ],
    "imageNumber": 640,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 600
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.tallbanner.",
    "difficulty": 50.0,
    "weight": 5500,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  }
]