[
  {
    "json-type": "item",
    "templateId": 988,
    "name": "green tapestry",
    "plural": "green tapestries",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A nice woven Tapestry made of wool with a green pattern."
    },
    "itemTypes": [
      24,
      44,
      51,
      52,
      86,
      109,
      119,
      157,
      173,
      188
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 205
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.tapestry.pattern1.",
    "difficulty": 30.0,
    "weight": 12000,
    "material": 69,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 989,
    "name": "beige tapestry",
    "plural": "beige tapestries",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A nice woven Tapestry made of wool with a beige orange pattern."
    },
    "itemTypes": [
      24,
      44,
      51,
      52,
      86,
      109,
      119,
      157,
      173,
      188
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 205
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.tapestry.pattern2.",
    "difficulty": 30.0,
    "weight": 12000,
    "material": 69,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 990,
    "name": "orange tapestry",
    "plural": "orange tapestries",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A nice woven Tapestry made of wool with a orange pattern."
    },
    "itemTypes": [
      24,
      44,
      51,
      52,
      86,
      109,
      119,
      157,
      173,
      188
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 205
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.tapestry.pattern3.",
    "difficulty": 30.0,
    "weight": 12000,
    "material": 69,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 991,
    "name": "cavalry motif tapestry",
    "plural": "cavalry tapestries",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A nice woven Tapestry made of wool with a cavalry attack motif."
    },
    "itemTypes": [
      24,
      44,
      51,
      52,
      86,
      109,
      119,
      157,
      173,
      188
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 205
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.tapestry.motif1.",
    "difficulty": 30.0,
    "weight": 12000,
    "material": 69,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 992,
    "name": "festivities motif tapestry",
    "plural": "festivity tapestries",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A nice woven Tapestry made of wool with a motif of festivities."
    },
    "itemTypes": [
      24,
      44,
      51,
      52,
      86,
      109,
      119,
      157,
      173,
      188
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 205
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.tapestry.motif2.",
    "difficulty": 30.0,
    "weight": 12000,
    "material": 69,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 993,
    "name": "battle of Kyara tapestry",
    "plural": "kyara tapestries",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A nice woven Tapestry made of wool with a motif showing the great battle of Kyara."
    },
    "itemTypes": [
      24,
      44,
      51,
      52,
      86,
      109,
      119,
      157,
      173,
      188
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 205
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.tapestry.motif3.",
    "difficulty": 30.0,
    "weight": 12000,
    "material": 69,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 994,
    "name": "tapestry of Faeldray",
    "plural": "faeldray tapestries",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A nice woven Tapestry made by Faeldray."
    },
    "itemTypes": [
      24,
      44,
      51,
      52,
      86,
      109,
      119,
      157,
      173,
      188
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 205
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.tapestry.faeldray.",
    "difficulty": 30.0,
    "weight": 12000,
    "material": 69,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1318,
    "name": "tapestry of Evening",
    "plural": "tapestries",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A nice woven Tapestry made by Evening."
    },
    "itemTypes": [
      24,
      44,
      51,
      52,
      86,
      109,
      119,
      157,
      173,
      188
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 205
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.tapestry.comp1.",
    "difficulty": 30.0,
    "weight": 12000,
    "material": 69,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1319,
    "name": "tapestry of Mclavin",
    "plural": "tapestries",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A nice woven Tapestry made by Mclavin."
    },
    "itemTypes": [
      24,
      44,
      51,
      52,
      86,
      109,
      119,
      157,
      173,
      188
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 205
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.tapestry.comp2.",
    "difficulty": 30.0,
    "weight": 12000,
    "material": 69,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1320,
    "name": "tapestry of Ehizellbob",
    "plural": "tapestries",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A nice woven Tapestry made by Ehizellbob."
    },
    "itemTypes": [
      24,
      44,
      51,
      52,
      86,
      109,
      119,
      157,
      173,
      188
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 205
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.tapestry.comp3.",
    "difficulty": 30.0,
    "weight": 12000,
    "material": 69,
    "value": 10000,
    "isPurchased": true
  }
]