[
  {
    "json-type": "item",
    "templateId": 724,
    "name": "weapons rack",
    "plural": "weapons racks",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A purposeful weapons rack that works for most weapons."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      51,
      52,
      67,
      86,
      176,
      178,
      199
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 10,
      "y": 110,
      "z": 180
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.weapons.",
    "difficulty": 15.0,
    "weight": 20000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 725,
    "name": "polearms rack",
    "plural": "polearms racks",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A functional rack for the really long weapons."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      51,
      52,
      67,
      86,
      176,
      178,
      199
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 10,
      "y": 110,
      "z": 250
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.weapons.polearms.",
    "difficulty": 15.0,
    "weight": 20000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 726,
    "name": "ring center",
    "plural": "ring centers",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "This is the center stone of the duelling ring."
    },
    "itemTypes": [
      25,
      31,
      40,
      48,
      49,
      52,
      67,
      98,
      109,
      123,
      178
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 100,
      "y": 100,
      "z": 100
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.duelring.",
    "difficulty": 139.0,
    "weight": 100000,
    "material": 15,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 727,
    "name": "duelling ring",
    "plural": "duelling rings",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "Within this ring of stones may the fate of kings and heroes be decided."
    },
    "itemTypes": [
      25,
      31,
      40,
      48,
      49,
      52,
      98,
      109,
      123,
      178
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 100,
      "y": 100,
      "z": 100
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.duelring.side.",
    "difficulty": 139.0,
    "weight": 100000,
    "material": 15,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 728,
    "name": "ring corner",
    "plural": "ring corners",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "Within this ring of stones may the fate of kings and heroes be decided."
    },
    "itemTypes": [
      25,
      31,
      40,
      48,
      49,
      52,
      98,
      109,
      123,
      178
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 100,
      "y": 100,
      "z": 100
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.duelring.corner.",
    "difficulty": 139.0,
    "weight": 100000,
    "material": 15,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 760,
    "name": "outpost",
    "plural": "outposts",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "Some warriors have set up camp here."
    },
    "itemTypes": [
      21,
      31,
      40,
      48,
      49,
      52,
      67,
      98,
      123,
      161,
      178
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 200,
      "y": 400,
      "z": 400
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.guardtower.",
    "difficulty": 100.0,
    "weight": 500000,
    "material": 14,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 761,
    "name": "battle camp",
    "plural": "battle camps",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A group of fighters see the strategic value of this place."
    },
    "itemTypes": [
      21,
      31,
      40,
      48,
      49,
      52,
      67,
      98,
      123,
      161,
      178
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 200,
      "y": 400,
      "z": 400
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.capturetower.",
    "difficulty": 100.0,
    "weight": 500000,
    "material": 14,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 762,
    "name": "fortification",
    "plural": "fortification",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "This place is apparently well worth defending."
    },
    "itemTypes": [
      21,
      31,
      40,
      48,
      49,
      52,
      67,
      98,
      123,
      161,
      178
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 200,
      "y": 400,
      "z": 400
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.guardtower.",
    "difficulty": 100.0,
    "weight": 500000,
    "material": 14,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 861,
    "name": "tent",
    "plural": "starter tents",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A small but useful tent. "
    },
    "itemTypes": [
      1,
      24,
      47,
      52,
      61,
      97,
      98,
      109,
      157,
      180,
      181,
      201
    ],
    "imageNumber": 640,
    "behaviourType": 41,
    "combatDamage": 0,
    "decayTime": 604800,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 50
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.tent.small.",
    "difficulty": 10.0,
    "weight": 500,
    "material": 17,
    "value": 1,
    "isPurchased": false,
    "containerSize": {
      "x": 100,
      "y": 200,
      "z": 201
    }
  },
  {
    "json-type": "item",
    "templateId": 863,
    "name": "explorer tent",
    "plural": "explorer tents",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A more robust version of the standard tent but without the item protection restrictions."
    },
    "itemTypes": [
      1,
      24,
      47,
      52,
      86,
      98,
      109,
      117,
      180,
      181
    ],
    "imageNumber": 640,
    "behaviourType": 41,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 50
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.tent.small.",
    "difficulty": 10.0,
    "weight": 3500,
    "material": 17,
    "value": 1,
    "isPurchased": false,
    "containerSize": {
      "x": 100,
      "y": 200,
      "z": 201
    }
  },
  {
    "json-type": "item",
    "templateId": 864,
    "name": "military tent",
    "plural": "military tents",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "This is the standard tent for military actions."
    },
    "itemTypes": [
      1,
      24,
      47,
      52,
      86,
      98,
      109,
      117,
      180,
      181
    ],
    "imageNumber": 640,
    "behaviourType": 41,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 50
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.tent.military.",
    "difficulty": 10.0,
    "weight": 3500,
    "material": 17,
    "value": 1,
    "isPurchased": false,
    "containerSize": {
      "x": 100,
      "y": 200,
      "z": 201
    }
  },
  {
    "json-type": "item",
    "templateId": 865,
    "name": "pavilion",
    "plural": "pavilions",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A pleasant open air tent designed for various kinds of gatherings."
    },
    "itemTypes": [
      24,
      47,
      51,
      52,
      86,
      98,
      109,
      180,
      182
    ],
    "imageNumber": 640,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 100
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.tent.pavilion.",
    "difficulty": 10.0,
    "weight": 2500,
    "material": 17,
    "value": 1,
    "isPurchased": false,
    "containerSize": {
      "x": 100,
      "y": 200,
      "z": 201
    }
  },
  {
    "json-type": "item",
    "templateId": 969,
    "name": "supply depot",
    "plural": "depots",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "This place is well frequented and littered with broken goods."
    },
    "itemTypes": [
      1,
      21,
      31,
      40,
      48,
      49,
      52,
      63,
      67,
      98,
      178
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 200,
      "y": 400,
      "z": 400
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.war.supplydepot.1.",
    "difficulty": 100.0,
    "weight": 500000,
    "material": 0,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 970,
    "name": "supply depot",
    "plural": "depots",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "This place is well frequented and littered with broken goods."
    },
    "itemTypes": [
      1,
      21,
      31,
      40,
      48,
      49,
      52,
      63,
      67,
      98,
      178
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 200,
      "y": 400,
      "z": 400
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.war.supplydepot.2.",
    "difficulty": 100.0,
    "weight": 500000,
    "material": 0,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 971,
    "name": "supply depot",
    "plural": "depots",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "This place is well frequented and littered with broken goods."
    },
    "itemTypes": [
      1,
      21,
      31,
      40,
      48,
      49,
      52,
      63,
      67,
      98,
      178
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 200,
      "y": 400,
      "z": 400
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.war.supplydepot.3.",
    "difficulty": 100.0,
    "weight": 500000,
    "material": 0,
    "value": 0,
    "isPurchased": false
  }
]