[
  {
    "json-type": "item",
    "templateId": 592,
    "name": "mine door",
    "plural": "plank mine doors",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "Wooden planks joined as to cover a mine opening."
    },
    "itemTypes": [
      21,
      44,
      126,
      146,
      147,
      157
    ],
    "imageNumber": 317,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 5,
      "y": 60,
      "z": 210
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.minedoor.wood.",
    "difficulty": 5.0,
    "weight": 42000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 593,
    "name": "mine door",
    "plural": "stone mine doors",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A door that looks very similar to the rock around here."
    },
    "itemTypes": [
      25,
      44,
      126,
      157
    ],
    "imageNumber": 337,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 12096000,
    "dimensions": {
      "x": 5,
      "y": 60,
      "z": 210
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.minedoor.stone.",
    "difficulty": 55.0,
    "weight": 120000,
    "material": 15,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 594,
    "name": "mine door",
    "plural": "golden mine doors",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A shiny golden mine door."
    },
    "itemTypes": [
      22,
      44,
      126,
      157
    ],
    "imageNumber": 257,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 2419200,
    "dimensions": {
      "x": 5,
      "y": 60,
      "z": 209
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.minedoor.gold.",
    "difficulty": 85.0,
    "weight": 121000,
    "material": 7,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 595,
    "name": "mine door",
    "plural": "silver mine doors",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A door made from the purest silver."
    },
    "itemTypes": [
      22,
      44,
      126,
      157
    ],
    "imageNumber": 277,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 2419200,
    "dimensions": {
      "x": 5,
      "y": 60,
      "z": 209
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.minedoor.silver.",
    "difficulty": 75.0,
    "weight": 121000,
    "material": 8,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 596,
    "name": "mine door",
    "plural": "steel mine doors",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A strong steel door that will sustain a lot of damage."
    },
    "itemTypes": [
      22,
      44,
      126,
      157
    ],
    "imageNumber": 297,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 2419200,
    "dimensions": {
      "x": 5,
      "y": 60,
      "z": 209
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.minedoor.steel.",
    "difficulty": 90.0,
    "weight": 61000,
    "material": 9,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 608,
    "name": "well",
    "plural": "wells",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A grey stone well with a bucket."
    },
    "itemTypes": [
      1,
      25,
      31,
      33,
      44,
      47,
      51,
      52,
      67,
      86,
      108,
      128,
      176,
      178,
      199,
      259
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 12096000,
    "dimensions": {
      "x": 50,
      "y": 50,
      "z": 50
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.well.",
    "difficulty": 30.0,
    "weight": 120000,
    "material": 15,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 679,
    "name": "Construction marker",
    "plural": "markers",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "Someone is planning a build project here."
    },
    "itemTypes": [
      52
    ],
    "imageNumber": 900,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 604800,
    "dimensions": {
      "x": 30,
      "y": 30,
      "z": 300
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.marker.build.",
    "difficulty": 10.0,
    "weight": 4000,
    "material": 14,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1112,
    "name": "waystone",
    "plural": "waystones",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A marker to designate a junction in a highway."
    },
    "itemTypes": [
      25,
      44,
      48,
      52,
      54,
      86,
      157,
      178,
      199,
      241,
      246
    ],
    "imageNumber": 361,
    "behaviourType": 56,
    "combatDamage": 0,
    "decayTime": 12096000,
    "dimensions": {
      "x": 20,
      "y": 20,
      "z": 150
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.road.waystone.",
    "difficulty": 45.0,
    "weight": 6600,
    "material": 15,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1113,
    "name": "blind catseye",
    "plural": "blind catseyes",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A marker used in the middle of a highway, or it could be, if it had eyes."
    },
    "itemTypes": [
      25,
      44,
      54,
      86,
      146,
      157
    ],
    "imageNumber": 362,
    "behaviourType": 56,
    "combatDamage": 0,
    "decayTime": 12096000,
    "dimensions": {
      "x": 5,
      "y": 10,
      "z": 10
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.road.catseye.blind.",
    "difficulty": 15.0,
    "weight": 500,
    "material": 15,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1114,
    "name": "catseye",
    "plural": "catseyes",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A marker used in the middle of a highway, protecting the surrounding tiles."
    },
    "itemTypes": [
      25,
      44,
      54,
      86,
      146,
      157,
      178,
      244,
      241
    ],
    "imageNumber": 362,
    "behaviourType": 56,
    "combatDamage": 0,
    "decayTime": 12096000,
    "dimensions": {
      "x": 5,
      "y": 10,
      "z": 10
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.road.catseye.",
    "difficulty": 15.0,
    "weight": 500,
    "material": 15,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1410,
    "name": "creature transporter",
    "plural": "transporters",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A cart designed to transport creature cages over land."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      51,
      52,
      54,
      56,
      92,
      108,
      117,
      134,
      193,
      160
    ],
    "imageNumber": 60,
    "behaviourType": 41,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 120,
      "y": 130,
      "z": 410
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.transports.large.creature.transporter.",
    "difficulty": 30.0,
    "weight": 240000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1431,
    "name": "kingdom stone",
    "plural": "kingdom stones",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A stone that can be claimed for your kingdom to apply a buff."
    },
    "itemTypes": [
      25,
      31,
      40,
      49,
      52,
      98,
      108,
      109,
      123
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 200,
      "y": 250,
      "z": 400
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.portal.10.",
    "difficulty": 25.0,
    "weight": 30000,
    "material": 15,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1432,
    "name": "chicken coop",
    "plural": "chicken coops",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A small house where female chickens are kept safe and secure."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      48,
      51,
      52,
      59,
      112,
      135,
      157,
      176,
      178,
      199,
      229,
      257
    ],
    "imageNumber": 403,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 120,
      "y": 120,
      "z": 150
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.coop.",
    "difficulty": 50.0,
    "weight": 60000,
    "material": 14,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1433,
    "name": "egg box",
    "plural": "egg boxes",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A box to hold eggs."
    },
    "itemTypes": [
      1,
      21,
      31,
      48,
      54,
      59,
      63,
      112,
      157,
      178,
      229,
      232,
      240,
      245
    ],
    "imageNumber": 312,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 25,
      "y": 25,
      "z": 30
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.sack.questionmark.",
    "difficulty": 50.0,
    "weight": 6500,
    "material": 14,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1434,
    "name": "feeder",
    "plural": "feeders",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A fed chicken is a happy chicken."
    },
    "itemTypes": [
      1,
      21,
      31,
      48,
      54,
      59,
      112,
      157,
      178,
      229,
      232,
      240,
      245
    ],
    "imageNumber": 312,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 25,
      "y": 25,
      "z": 30
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.sack.questionmark.",
    "difficulty": 50.0,
    "weight": 6500,
    "material": 14,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1435,
    "name": "drinker",
    "plural": "drinkers",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A small barrel, carefully placed, to be used as a rudimentary watering device."
    },
    "itemTypes": [
      1,
      21,
      31,
      33,
      48,
      54,
      59,
      112,
      157,
      178,
      229,
      232,
      240,
      245
    ],
    "imageNumber": 245,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 30,
      "y": 30,
      "z": 50
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.sack.questionmark.",
    "difficulty": 50.0,
    "weight": 6500,
    "material": 14,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1436,
    "name": "nesting box",
    "plural": "nesting boxes",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "An essential part to any coop, the nesting box."
    },
    "itemTypes": [
      1,
      21,
      31,
      48,
      54,
      59,
      63,
      112,
      157,
      178,
      229,
      232,
      240,
      245
    ],
    "imageNumber": 363,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 25,
      "y": 25,
      "z": 30
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.sack.questionmark.",
    "difficulty": 50.0,
    "weight": 6500,
    "material": 14,
    "value": 100,
    "isPurchased": false
  }
]