[
  {
    "json-type": "item",
    "templateId": 510,
    "name": "spirit house",
    "plural": "spirit houses",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A wooden mailbox looking like a wooden house."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      51,
      52,
      67,
      86,
      92,
      108,
      160
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 100,
      "y": 100,
      "z": 200
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.spirithouse.",
    "difficulty": 50.0,
    "weight": 150000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 511,
    "name": "spirit cottage",
    "plural": "spirit cottages",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A stone mailbox fashioned in the way of a small cottage."
    },
    "itemTypes": [
      1,
      25,
      31,
      44,
      51,
      52,
      67,
      86,
      92,
      108,
      160
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 12096000,
    "dimensions": {
      "x": 100,
      "y": 100,
      "z": 200
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.spiritcottage.",
    "difficulty": 60.0,
    "weight": 240000,
    "material": 15,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 512,
    "name": "spirit mansion",
    "plural": "spirit mansions",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A fashionable wooden mailbox that looks like a rich mansion."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      51,
      52,
      67,
      86,
      92,
      108,
      160
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 100,
      "y": 100,
      "z": 200
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.spiritmansion.",
    "difficulty": 50.0,
    "weight": 150000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 513,
    "name": "spirit castle",
    "plural": "spirit castles",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A decorated model of a castle that works as a mailbox."
    },
    "itemTypes": [
      1,
      25,
      31,
      44,
      51,
      52,
      67,
      86,
      92,
      108,
      160
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 12096000,
    "dimensions": {
      "x": 100,
      "y": 100,
      "z": 200
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.spiritcastle.",
    "difficulty": 60.0,
    "weight": 240000,
    "material": 15,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 521,
    "name": "lair",
    "plural": "lairs",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "The den where some denizens reside."
    },
    "itemTypes": [
      21,
      31,
      48,
      49,
      52,
      67,
      86,
      98,
      178
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 200,
      "y": 400,
      "z": 400
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.den.",
    "difficulty": 20.0,
    "weight": 500000,
    "material": 14,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 712,
    "name": "shrine",
    "plural": "shrine",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A small shrine for worshipping spirits, large enough to enter but not much more."
    },
    "itemTypes": [
      25,
      31,
      44,
      49,
      52,
      67,
      109,
      123,
      178,
      194,
      195
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 400,
      "y": 400,
      "z": 400
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.shrine.",
    "difficulty": 25.0,
    "weight": 1500000,
    "material": 15,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 713,
    "name": "pylon",
    "plural": "pylons",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "This monumental structure is said to represent two hills between which the sun rises and sets. It is commonly associated with recreation and birth."
    },
    "itemTypes": [
      25,
      31,
      44,
      49,
      52,
      67,
      109,
      123,
      178,
      194,
      195
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 300,
      "y": 500,
      "z": 1500
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.pylon.",
    "difficulty": 55.0,
    "weight": 2000000,
    "material": 15,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 714,
    "name": "obelisk",
    "plural": "obelisk",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A large obelisk. These monuments represent the sun."
    },
    "itemTypes": [
      25,
      31,
      44,
      49,
      52,
      67,
      109,
      123,
      178,
      194,
      195
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 100,
      "y": 100,
      "z": 1000
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.obelisque.",
    "difficulty": 40.0,
    "weight": 1500000,
    "material": 15,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 715,
    "name": "temple",
    "plural": "temple",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A small temple for worshipping deities, large enough to enter but not much more."
    },
    "itemTypes": [
      25,
      31,
      44,
      49,
      52,
      67,
      109,
      123,
      178,
      194,
      195
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 400,
      "y": 400,
      "z": 400
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.temple.",
    "difficulty": 35.0,
    "weight": 1500000,
    "material": 15,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 716,
    "name": "spirit gate",
    "plural": "spirit gate",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "These spirit gates marks the transition between the normal world and the sacred. They are usually placed near the entrance to shrines."
    },
    "itemTypes": [
      25,
      31,
      44,
      49,
      52,
      67,
      109,
      123,
      178,
      194,
      195
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 100,
      "y": 400,
      "z": 500
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.spiritgate.",
    "difficulty": 55.0,
    "weight": 500000,
    "material": 15,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 717,
    "name": "foundation pillar",
    "plural": "foundation pillars",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A pillar that is as powerful as it is beautiful. It seems to have some religious or symbolic meaning."
    },
    "itemTypes": [
      25,
      31,
      44,
      49,
      52,
      67,
      109,
      123,
      178,
      194,
      195
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 100,
      "y": 100,
      "z": 500
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.pillar.foundation.",
    "difficulty": 20.0,
    "weight": 1500000,
    "material": 15,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 718,
    "name": "huge bell",
    "plural": "huge bells",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A huge bell that can be put in a cot to ring when celebrating or at a ceremony."
    },
    "itemTypes": [
      22,
      44
    ],
    "imageNumber": 298,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 40,
      "y": 40,
      "z": 50
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.part.bell.huge.",
    "difficulty": 30.0,
    "weight": 8300,
    "material": 31,
    "value": 50000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 719,
    "name": "small bell",
    "plural": "small bells",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A small hand held bell that will make a pleasant tingeling sound to summon spirits."
    },
    "itemTypes": [
      22,
      44
    ],
    "imageNumber": 278,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 10
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.bell.small.",
    "difficulty": 20.0,
    "weight": 500,
    "material": 30,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 720,
    "name": "small resonator",
    "plural": "small resonators",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "The resonator of small hand held bell. It still needs a clapper."
    },
    "itemTypes": [
      22,
      44
    ],
    "imageNumber": 278,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 10
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.bell.small.resonator.",
    "difficulty": 60.0,
    "weight": 400,
    "material": 30,
    "value": 1000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 721,
    "name": "large bell resonator",
    "plural": "large resonators",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "The resonator part of a huge bell. It still needs a clapper if it's going to make a sound."
    },
    "itemTypes": [
      22,
      44,
      52
    ],
    "imageNumber": 298,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 40,
      "y": 40,
      "z": 50
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.part.bell.huge.resonator.",
    "difficulty": 60.0,
    "weight": 6300,
    "material": 31,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 722,
    "name": "bell tower",
    "plural": "bell towers",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A bell cot with a huge bell hanging inside. It will make a powerful sound when rung."
    },
    "itemTypes": [
      21,
      31,
      44,
      51,
      52,
      67,
      86,
      109,
      176,
      178,
      199
    ],
    "imageNumber": 310,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 110,
      "y": 110,
      "z": 180
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.belltower.",
    "difficulty": 45.0,
    "weight": 36500,
    "material": 14,
    "value": 100000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 723,
    "name": "bell cot",
    "plural": "bell cots",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "This is the framework where a huge bell should hang."
    },
    "itemTypes": [
      21,
      44,
      52
    ],
    "imageNumber": 309,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 110,
      "y": 110,
      "z": 180
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.bellcot.",
    "difficulty": 25.0,
    "weight": 30000,
    "material": 14,
    "value": 1000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 734,
    "name": "tiny clapper",
    "plural": "tiny clappers",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "This small metal lump should be attached to a small ceremonial bell and make tingeling."
    },
    "itemTypes": [
      22,
      44
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 1,
      "y": 1,
      "z": 3
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.part.clapper.small.",
    "difficulty": 10.0,
    "weight": 100,
    "material": 11,
    "value": 10,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 735,
    "name": "large clapper",
    "plural": "large clappers",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "This is a lump of metal designed to hang in a large bell and make ding dong."
    },
    "itemTypes": [
      22,
      44
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 10,
      "y": 10,
      "z": 30
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.part.clapper.large.",
    "difficulty": 20.0,
    "weight": 2000,
    "material": 11,
    "value": 200,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 736,
    "name": "pillar",
    "plural": "pillar",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A round beautiful pillar. It can be used to support a roof but many consider it a piece of art in itself."
    },
    "itemTypes": [
      1,
      25,
      31,
      44,
      47,
      51,
      52,
      67,
      86,
      109,
      178,
      199
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 12096000,
    "dimensions": {
      "x": 100,
      "y": 100,
      "z": 500
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.pillar.",
    "difficulty": 20.0,
    "weight": 1500000,
    "material": 15,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 741,
    "name": "shrine of the rush",
    "plural": "rush shrines",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A small shrine that inhabit speedy water spirits who may invigorate you."
    },
    "itemTypes": [
      31,
      40,
      49,
      52,
      60,
      67,
      114,
      98,
      109,
      123,
      178
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 400,
      "y": 400,
      "z": 400
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.shrine.",
    "difficulty": 66.0,
    "weight": 1500000,
    "material": 0,
    "value": 10000,
    "isPurchased": false
  }
]