[
  {
    "json-type": "item",
    "templateId": 445,
    "name": "catapult",
    "plural": "catapult",
    "size": 2,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A small four wheel catapult designed to be dragged by one person. It could be used to hurl items at walls and fences."
    },
    "itemTypes": [
      21,
      31,
      44,
      51,
      52,
      56,
      86,
      92,
      108,
      109,
      176,
      177
    ],
    "imageNumber": 60,
    "behaviourType": 40,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 240,
      "y": 240,
      "z": 350
    },
    "primarySkill": 10077,
    "bodySpaces": [],
    "modelName": "model.structure.small.catapult.",
    "difficulty": 30.0,
    "weight": 400000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 931,
    "name": "siege shield",
    "plural": "siege shields",
    "size": 3,
    "descriptions": {
      "superb": "fresh",
      "normal": "dry",
      "bad": "brittle",
      "rotten": "rotten",
      "long": "A movable wall made from planks, this will block most arrows and also provide some protection against hot oil."
    },
    "itemTypes": [
      21,
      31,
      51,
      52,
      86,
      98,
      109,
      113,
      117,
      190
    ],
    "imageNumber": 606,
    "behaviourType": 1,
    "combatDamage": 10,
    "decayTime": 604800,
    "dimensions": {
      "x": 200,
      "y": 250,
      "z": 400
    },
    "primarySkill": 1005,
    "bodySpaces": [],
    "modelName": "model.structure.siegeshield.",
    "difficulty": 10.0,
    "weight": 30000,
    "material": 0,
    "value": 20,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 933,
    "name": "machine mount",
    "plural": "mounts",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "This is a large mount suited for placing large weapons on."
    },
    "itemTypes": [
      21,
      44,
      51,
      52,
      86,
      92,
      108,
      113,
      176
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 180,
      "y": 200,
      "z": 250
    },
    "primarySkill": 10093,
    "bodySpaces": [],
    "modelName": "model.structure.small.mount.",
    "difficulty": 30.0,
    "weight": 50000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 934,
    "name": "strange device",
    "plural": "devices",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A pole fastened in chains lies here."
    },
    "itemTypes": [
      21,
      44,
      48,
      51,
      52,
      86,
      108,
      109,
      113,
      176,
      177,
      199
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 250,
      "y": 250,
      "z": 250
    },
    "primarySkill": 1029,
    "bodySpaces": [],
    "modelName": "model.structure.small.pewpewdie.uncharged.",
    "difficulty": 30.0,
    "weight": 150000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 936,
    "name": "ballista",
    "plural": "ballistas",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "This is a large mounted crossbow firing enormous darts."
    },
    "itemTypes": [
      21,
      44,
      51,
      52,
      86,
      92,
      108,
      109,
      113,
      117,
      157,
      176,
      177
    ],
    "imageNumber": 60,
    "behaviourType": 40,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 250,
      "y": 250,
      "z": 320
    },
    "primarySkill": 10093,
    "bodySpaces": [],
    "modelName": "model.structure.small.ballista.",
    "difficulty": 30.0,
    "weight": 70000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 937,
    "name": "trebuchet",
    "plural": "trebuchet",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "The trebuchet is a huge frightening machine designed to haul devastating rocks long distances. You need to put a lot of rocks or ore into it as counterweights."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      51,
      52,
      63,
      67,
      86,
      92,
      108,
      109,
      113,
      117,
      177,
      178
    ],
    "imageNumber": 60,
    "behaviourType": 40,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 450,
      "y": 750,
      "z": 900
    },
    "primarySkill": 10094,
    "bodySpaces": [],
    "modelName": "model.structure.small.trebuchet.",
    "difficulty": 30.0,
    "weight": 1200000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 938,
    "name": "spike barrier",
    "plural": "barriers",
    "size": 3,
    "descriptions": {
      "superb": "fresh",
      "normal": "dry",
      "bad": "brittle",
      "rotten": "rotten",
      "long": "This is a very quick easy barrier construction made from a log and lots of shafts."
    },
    "itemTypes": [
      21,
      31,
      51,
      52,
      67,
      86,
      98,
      109,
      113,
      123
    ],
    "imageNumber": 606,
    "behaviourType": 1,
    "combatDamage": 10,
    "decayTime": 604800,
    "dimensions": {
      "x": 250,
      "y": 300,
      "z": 400
    },
    "primarySkill": 1005,
    "bodySpaces": [],
    "modelName": "model.structure.barrier.spike.",
    "difficulty": 10.0,
    "weight": 30000,
    "material": 0,
    "value": 20,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 939,
    "name": "archery tower",
    "plural": "archery towers",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "Inside this building live fanatic guards who spend all their time awake shooting arrows at every enemy in sight."
    },
    "itemTypes": [
      21,
      31,
      44,
      49,
      52,
      59,
      67,
      86,
      98,
      109,
      123
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 19353600,
    "dimensions": {
      "x": 400,
      "y": 400,
      "z": 1600
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.archerytower.",
    "difficulty": 60.0,
    "weight": 1500000,
    "material": 14,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 940,
    "name": "acid turret",
    "plural": "turret",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A pole in chains floats here. It seems inhabited by acid spirits."
    },
    "itemTypes": [
      21,
      44,
      48,
      51,
      52,
      59,
      86,
      108,
      109,
      113,
      176,
      177,
      199
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 250,
      "y": 250,
      "z": 400
    },
    "primarySkill": 10044,
    "bodySpaces": [],
    "modelName": "model.structure.small.pewpewdie.acid.",
    "difficulty": 70.0,
    "weight": 150000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 941,
    "name": "fire turret",
    "plural": "turret",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A pole in chains floats here. It seems inhabited by fire spirits."
    },
    "itemTypes": [
      21,
      44,
      48,
      51,
      52,
      59,
      86,
      108,
      109,
      113,
      176,
      177,
      199
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 250,
      "y": 250,
      "z": 400
    },
    "primarySkill": 10044,
    "bodySpaces": [],
    "modelName": "model.structure.small.pewpewdie.fire.",
    "difficulty": 70.0,
    "weight": 150000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 942,
    "name": "lightning turret",
    "plural": "turret",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A pole in chains floats here. It seems inhabited by lightning spirits."
    },
    "itemTypes": [
      21,
      44,
      48,
      51,
      52,
      59,
      86,
      108,
      109,
      113,
      176,
      177,
      199
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 250,
      "y": 250,
      "z": 400
    },
    "primarySkill": 10044,
    "bodySpaces": [],
    "modelName": "model.structure.small.pewpewdie.lightning.",
    "difficulty": 70.0,
    "weight": 150000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 968,
    "name": "frost turret",
    "plural": "turret",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A pole in chains floats here. It seems inhabited by frost spirits."
    },
    "itemTypes": [
      21,
      44,
      48,
      51,
      52,
      59,
      86,
      108,
      109,
      113,
      176,
      177,
      199
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 250,
      "y": 250,
      "z": 400
    },
    "primarySkill": 10044,
    "bodySpaces": [],
    "modelName": "model.structure.small.pewpewdie.frost.",
    "difficulty": 70.0,
    "weight": 150000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1125,
    "name": "battering ram",
    "plural": "battering rams",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A large war machine designed to knock down walls and doors, used by ramming the large log into the wall you wish to no longer exist."
    },
    "itemTypes": [
      21,
      31,
      44,
      51,
      52,
      56,
      63,
      67,
      86,
      92,
      108,
      109,
      113,
      177,
      178
    ],
    "imageNumber": 60,
    "behaviourType": 40,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 300,
      "y": 300,
      "z": 400
    },
    "primarySkill": 1029,
    "bodySpaces": [],
    "modelName": "model.structure.small.batteringram.",
    "difficulty": 30.0,
    "weight": 200000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1126,
    "name": "battering ram head",
    "plural": "ram heads",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A large and heavy four-sided pyramidal head that will provide quite the punch."
    },
    "itemTypes": [
      22,
      113,
      146,
      158
    ],
    "imageNumber": 1216,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 10,
      "y": 10,
      "z": 10
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.arrow.head.batteringram.",
    "difficulty": 40.0,
    "weight": 10000,
    "material": 0,
    "value": 10,
    "isPurchased": true
  }
]