[
  {
    "json-type": "item",
    "templateId": 384,
    "name": "guard tower",
    "plural": "towers",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A high guard tower."
    },
    "itemTypes": [
      25,
      31,
      44,
      49,
      52,
      67,
      85,
      86,
      98,
      123,
      194,
      239
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 19353600,
    "dimensions": {
      "x": 400,
      "y": 400,
      "z": 600
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.guardtower.jenn.",
    "difficulty": 20.0,
    "weight": 500000,
    "material": 15,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 430,
    "name": "guard tower",
    "plural": "towers",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A high guard tower."
    },
    "itemTypes": [
      25,
      31,
      44,
      49,
      52,
      67,
      85,
      86,
      98,
      123,
      194,
      239
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 19353600,
    "dimensions": {
      "x": 400,
      "y": 400,
      "z": 600
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.guardtower.hots.",
    "difficulty": 20.0,
    "weight": 500000,
    "material": 15,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 528,
    "name": "guard tower",
    "plural": "towers",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A high guard tower."
    },
    "itemTypes": [
      25,
      31,
      44,
      49,
      52,
      67,
      85,
      86,
      98,
      123,
      194,
      239
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 19353600,
    "dimensions": {
      "x": 400,
      "y": 400,
      "z": 600
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.guardtower.molr.",
    "difficulty": 20.0,
    "weight": 500000,
    "material": 15,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 638,
    "name": "guard tower",
    "plural": "towers",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A high guard tower."
    },
    "itemTypes": [
      25,
      31,
      44,
      49,
      52,
      67,
      85,
      86,
      98,
      123,
      194,
      239
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 19353600,
    "dimensions": {
      "x": 400,
      "y": 400,
      "z": 600
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.guardtower.free.",
    "difficulty": 20.0,
    "weight": 500000,
    "material": 15,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 996,
    "name": "neutral guard tower",
    "plural": "neutral guard towers",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A high guard tower."
    },
    "itemTypes": [
      25,
      31,
      40,
      49,
      52,
      67,
      98,
      123,
      239
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 19353600,
    "dimensions": {
      "x": 400,
      "y": 400,
      "z": 600
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.neutraltower.",
    "difficulty": 20.0,
    "weight": 500000,
    "material": 15,
    "value": 0,
    "isPurchased": false
  }
]