[
  {
    "json-type": "item",
    "templateId": 289,
    "name": "raft",
    "plural": "rafts",
    "size": 2,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A small, very rudimentary raft that can be dragged by one person in the water."
    },
    "itemTypes": [
      1,
      21,
      44,
      51,
      52,
      56,
      60,
      92,
      108,
      135
    ],
    "imageNumber": 256,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 60,
      "y": 60,
      "z": 210
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.small.raft.",
    "difficulty": 15.0,
    "weight": 60000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 490,
    "name": "rowing boat",
    "plural": "rowing boats",
    "size": 2,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A small rowing boat that will accommodate three people."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      48,
      51,
      52,
      54,
      56,
      60,
      92,
      108,
      117,
      157,
      160,
      255
    ],
    "imageNumber": 60,
    "behaviourType": 41,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 60,
      "y": 60,
      "z": 210
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.small.boat.rowing.",
    "difficulty": 17.0,
    "weight": 120000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 491,
    "name": "sailing boat",
    "plural": "sailing boats",
    "size": 2,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A small sailing boat that will accommodate five people."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      48,
      51,
      52,
      54,
      56,
      60,
      92,
      108,
      117,
      157,
      160,
      249,
      255
    ],
    "imageNumber": 60,
    "behaviourType": 41,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 60,
      "y": 60,
      "z": 210
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.small.boat.sailing.",
    "difficulty": 30.0,
    "weight": 140000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 540,
    "name": "cog",
    "plural": "cogs",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A sturdy, one-masted merchant ship with a flat bottom."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      48,
      51,
      52,
      54,
      56,
      60,
      92,
      108,
      117,
      157,
      160,
      249,
      255
    ],
    "imageNumber": 60,
    "behaviourType": 41,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 210,
      "y": 400,
      "z": 610
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.boat.cog.",
    "difficulty": 50.0,
    "weight": 800000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 541,
    "name": "corbita",
    "plural": "corbitas",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A ship with square sails, steered using two side rudders connected to each other."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      48,
      51,
      52,
      54,
      56,
      60,
      92,
      108,
      117,
      157,
      160,
      180,
      249,
      255
    ],
    "imageNumber": 60,
    "behaviourType": 41,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 210,
      "y": 600,
      "z": 810
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.boat.corbita.",
    "difficulty": 40.0,
    "weight": 1400000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 542,
    "name": "knarr",
    "plural": "knarrs",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A ship with a clinker-built hull assembled with iron rivets, and one mast with a square yard sail. In insufficient wind it is rowed with oars. The side rudder is on the starboard side."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      48,
      51,
      52,
      54,
      56,
      60,
      92,
      108,
      117,
      157,
      160,
      180,
      249,
      255
    ],
    "imageNumber": 60,
    "behaviourType": 41,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 400,
      "y": 800,
      "z": 1500
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.boat.knarr.",
    "difficulty": 60.0,
    "weight": 2000000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 543,
    "name": "caravel",
    "plural": "caravels",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "An impressive merchant ship."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      48,
      51,
      52,
      54,
      56,
      60,
      92,
      108,
      117,
      157,
      160,
      180,
      249,
      255
    ],
    "imageNumber": 60,
    "behaviourType": 41,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 600,
      "y": 1200,
      "z": 2100
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.boat.caravel.",
    "difficulty": 70.0,
    "weight": 2400000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  }
]