[
  {
    "json-type": "item",
    "templateId": 322,
    "name": "altar",
    "plural": "altars",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A wooden altar, covered in cloth and with carvings depicting famous religious events."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      48,
      51,
      52,
      66,
      67,
      108,
      135,
      176,
      199,
      259
    ],
    "imageNumber": 60,
    "behaviourType": 33,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 41,
      "y": 41,
      "z": 210
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.altar.",
    "difficulty": 12.0,
    "weight": 150000,
    "material": 14,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 323,
    "name": "altar",
    "plural": "altars",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A stone altar, with decorations depicting famous religious events."
    },
    "itemTypes": [
      1,
      25,
      31,
      44,
      47,
      48,
      51,
      52,
      66,
      67,
      108,
      135,
      176,
      199,
      259
    ],
    "imageNumber": 60,
    "behaviourType": 33,
    "combatDamage": 0,
    "decayTime": 12096000,
    "dimensions": {
      "x": 41,
      "y": 41,
      "z": 210
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.altar.",
    "difficulty": 12.0,
    "weight": 200000,
    "material": 15,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 324,
    "name": "altar",
    "plural": "altars",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A golden altar, with mystical carvings and inscriptions."
    },
    "itemTypes": [
      1,
      22,
      31,
      44,
      47,
      48,
      51,
      52,
      66,
      67,
      108,
      135,
      176,
      199,
      259
    ],
    "imageNumber": 60,
    "behaviourType": 33,
    "combatDamage": 0,
    "decayTime": 12096000,
    "dimensions": {
      "x": 41,
      "y": 41,
      "z": 210
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.altar.gold.",
    "difficulty": 62.0,
    "weight": 5000,
    "material": 7,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 325,
    "name": "altar",
    "plural": "altars",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A silver altar, with mystical carvings and inscriptions."
    },
    "itemTypes": [
      1,
      22,
      31,
      44,
      47,
      48,
      51,
      52,
      66,
      67,
      108,
      135,
      176,
      199,
      259
    ],
    "imageNumber": 60,
    "behaviourType": 33,
    "combatDamage": 0,
    "decayTime": 12096000,
    "dimensions": {
      "x": 41,
      "y": 41,
      "z": 210
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.altar.silver.",
    "difficulty": 52.0,
    "weight": 5000,
    "material": 8,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 326,
    "name": "bowl",
    "plural": "bowls",
    "size": 3,
    "descriptions": {
      "superb": "new",
      "normal": "fancy",
      "bad": "ok",
      "rotten": "old",
      "long": "A one foot wide shiny metal bowl, hammered thin."
    },
    "itemTypes": [
      1,
      22,
      44,
      87,
      108,
      147
    ],
    "imageNumber": 764,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 2419200,
    "dimensions": {
      "x": 1,
      "y": 5,
      "z": 30
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.bowl.",
    "difficulty": 10.0,
    "weight": 300,
    "material": 0,
    "value": 2000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 327,
    "name": "Altar of Three",
    "plural": "altars",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A huge shiny altar, built from white marble and polished granite laden with gold and silver. You notice some finely carved inscriptions on the surface of the base."
    },
    "itemTypes": [
      1,
      31,
      48,
      49,
      52,
      59,
      66,
      67,
      68,
      70
    ],
    "imageNumber": 60,
    "behaviourType": 34,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 500,
      "y": 500,
      "z": 1000
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.altar.holy.",
    "difficulty": 99.0,
    "weight": 2000000,
    "material": 0,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 328,
    "name": "Huge bone altar",
    "plural": "altars",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A huge dark altar built from charred bones and skulls held together by bronze wires. The altar is covered in rotting meat, but you manage to notice some weird inscriptions on a stone slab tainted by dried blood."
    },
    "itemTypes": [
      1,
      31,
      44,
      48,
      49,
      52,
      59,
      66,
      67,
      68,
      70,
      85
    ],
    "imageNumber": 60,
    "behaviourType": 34,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 500,
      "y": 500,
      "z": 1000
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.altar.unholy.",
    "difficulty": 99.0,
    "weight": 2000000,
    "material": 0,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 678,
    "name": "Fo obelisk",
    "plural": "obelisks",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "The obelisk emanates a certain degree of heat."
    },
    "itemTypes": [
      25,
      31,
      40,
      49,
      52,
      149
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3600,
    "dimensions": {
      "x": 500,
      "y": 500,
      "z": 1000
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.portal.1.",
    "difficulty": 99.0,
    "weight": 2000000,
    "material": 15,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 680,
    "name": "Libila stone",
    "plural": "stones",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "The stone is freezing to the touch."
    },
    "itemTypes": [
      25,
      31,
      40,
      49,
      52,
      150
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3600,
    "dimensions": {
      "x": 500,
      "y": 500,
      "z": 1000
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.structure.portal.2.",
    "difficulty": 99.0,
    "weight": 2000000,
    "material": 15,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 792,
    "name": "sacrificial knife",
    "plural": "sacrificial knives",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A curved, sharp knife with a long decorated blade inset with gems."
    },
    "itemTypes": [
      13,
      17,
      22,
      38,
      44,
      108,
      147
    ],
    "imageNumber": 1379,
    "behaviourType": 1,
    "combatDamage": 1,
    "decayTime": 3024000,
    "dimensions": {
      "x": 1,
      "y": 3,
      "z": 21
    },
    "primarySkill": 10029,
    "bodySpaces": [],
    "modelName": "model.weapon.knife.sacrificial.",
    "difficulty": 30.0,
    "weight": 1230,
    "material": 8,
    "value": 2000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 793,
    "name": "sacrificial knife blade",
    "plural": "sacrificial knife blades",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "The bent blade of a sacrificial knife."
    },
    "itemTypes": [
      22,
      44
    ],
    "imageNumber": 735,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 1,
      "y": 2,
      "z": 10
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.weapon.blade.knife.sacrificial.",
    "difficulty": 20.0,
    "weight": 1100,
    "material": 8,
    "value": 100,
    "isPurchased": false
  }
]