[
  {
    "json-type": "item",
    "templateId": 280,
    "name": "plate sabaton",
    "plural": "plate sabatons",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "Plate armour for the foot, with plenty of space for the toes."
    },
    "itemTypes": [
      4,
      22,
      44,
      92,
      189,
      108,
      147
    ],
    "imageNumber": 1085,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 5,
      "y": 20,
      "z": 30
    },
    "primarySkill": -10,
    "bodySpaces": [
      15,
      16
    ],
    "modelName": "model.armour.foot.plate.",
    "difficulty": 35.0,
    "weight": 1700,
    "material": 0,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 281,
    "name": "plate leggings",
    "plural": "plate leggings",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "Greaves for the lower part of the legs, a cuisse for the upper part, joined by a poleyne covering the knee."
    },
    "itemTypes": [
      4,
      22,
      44,
      92,
      189,
      108,
      147
    ],
    "imageNumber": 1081,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 1,
      "y": 10,
      "z": 40
    },
    "primarySkill": -10,
    "bodySpaces": [
      34
    ],
    "modelName": "model.armour.leg.plate.",
    "difficulty": 45.0,
    "weight": 4200,
    "material": 0,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 282,
    "name": "breast plate",
    "plural": "breast plates",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A heavy and intricate set of metal plates, together covering the top of the body."
    },
    "itemTypes": [
      4,
      22,
      44,
      92,
      189,
      108,
      147
    ],
    "imageNumber": 1080,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 3,
      "y": 35,
      "z": 40
    },
    "primarySkill": -10,
    "bodySpaces": [
      2
    ],
    "modelName": "model.armour.torso.plate.",
    "difficulty": 50.0,
    "weight": 5200,
    "material": 0,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 283,
    "name": "plate vambrace",
    "plural": "plate vambraces",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A protection closed completely around the lower arm and secured shut with spring snaps."
    },
    "itemTypes": [
      4,
      22,
      44,
      92,
      189,
      108,
      147
    ],
    "imageNumber": 1082,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 1,
      "y": 5,
      "z": 40
    },
    "primarySkill": -10,
    "bodySpaces": [
      3,
      4
    ],
    "modelName": "model.armour.sleeve.plate.",
    "difficulty": 40.0,
    "weight": 2200,
    "material": 0,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 284,
    "name": "plate gauntlet",
    "plural": "plate gauntlet",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A glove made from small metal plates."
    },
    "itemTypes": [
      4,
      22,
      44,
      92,
      189,
      108,
      147
    ],
    "imageNumber": 1084,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 2,
      "y": 5,
      "z": 16
    },
    "primarySkill": -10,
    "bodySpaces": [
      13,
      14
    ],
    "modelName": "model.armour.hand.plate.",
    "difficulty": 30.0,
    "weight": 800,
    "material": 0,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 285,
    "name": "basinet helm",
    "plural": "basinet helms",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A shining basinet helm with a lift up visor."
    },
    "itemTypes": [
      4,
      22,
      44,
      92,
      108,
      147
    ],
    "imageNumber": 967,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 1,
      "y": 10,
      "z": 20
    },
    "primarySkill": -10,
    "bodySpaces": [
      1,
      28
    ],
    "modelName": "model.armour.head.basinet.",
    "difficulty": 20.0,
    "weight": 1700,
    "material": 0,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 286,
    "name": "great helm",
    "plural": "great helms",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A thick helm that only exposes a pair of slits where the eyes are."
    },
    "itemTypes": [
      4,
      22,
      44,
      92,
      108,
      147
    ],
    "imageNumber": 968,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 1,
      "y": 10,
      "z": 20
    },
    "primarySkill": -10,
    "bodySpaces": [
      1,
      28
    ],
    "modelName": "model.armour.head.greathelm.",
    "difficulty": 25.0,
    "weight": 1700,
    "material": 0,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 287,
    "name": "open helm",
    "plural": "open helms",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "An open-faced round-top helm."
    },
    "itemTypes": [
      1,
      4,
      22,
      33,
      44,
      77,
      92,
      108,
      139,
      147
    ],
    "imageNumber": 966,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 10,
      "y": 10,
      "z": 20
    },
    "primarySkill": -10,
    "bodySpaces": [
      1,
      28
    ],
    "modelName": "model.armour.head.openhelm.",
    "difficulty": 15.0,
    "weight": 1100,
    "material": 0,
    "value": 10000,
    "isPurchased": true
  }
]