[
  {
    "json-type": "item",
    "templateId": 37,
    "name": "campfire",
    "plural": "campfires",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A nice and cosy campfire."
    },
    "itemTypes": [
      1,
      21,
      31,
      49,
      52,
      59,
      65,
      147,
      209
    ],
    "imageNumber": 291,
    "behaviourType": 18,
    "combatDamage": 50,
    "decayTime": 60,
    "dimensions": {
      "x": 41,
      "y": 41,
      "z": 201
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fireplace.campfire.",
    "difficulty": 1.0,
    "weight": 1500,
    "material": 14,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 178,
    "name": "oven",
    "plural": "stone ovens",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "An oven made from stone bricks and clay intended for cooking and baking."
    },
    "itemTypes": [
      1,
      25,
      31,
      44,
      47,
      51,
      52,
      59,
      86,
      108,
      135,
      147,
      176,
      180,
      199,
      209,
      259
    ],
    "imageNumber": 289,
    "behaviourType": 18,
    "combatDamage": 0,
    "decayTime": 2419200,
    "dimensions": {
      "x": 100,
      "y": 121,
      "z": 390
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fireplace.oven.",
    "difficulty": 10.0,
    "weight": 70000,
    "material": 15,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 180,
    "name": "forge",
    "plural": "forges",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A forge made from stone bricks and clay, intended for smelting and smithing."
    },
    "itemTypes": [
      1,
      25,
      31,
      44,
      47,
      51,
      52,
      59,
      86,
      108,
      135,
      147,
      176,
      180,
      199,
      209,
      259
    ],
    "imageNumber": 288,
    "behaviourType": 18,
    "combatDamage": 0,
    "decayTime": 2419200,
    "dimensions": {
      "x": 82,
      "y": 122,
      "z": 390
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fireplace.forge.",
    "difficulty": 12.0,
    "weight": 70000,
    "material": 15,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 226,
    "name": "floor loom",
    "plural": "floor looms",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A large wooden loom, made for weaving."
    },
    "itemTypes": [
      21,
      31,
      44,
      51,
      52,
      67,
      86,
      108,
      139,
      176,
      199
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 150,
      "y": 250,
      "z": 300
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.tool.loom.",
    "difficulty": 10.0,
    "weight": 150000,
    "material": 14,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 922,
    "name": "spinning wheel",
    "plural": "spinning wheels",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "An ingenious device which turns rough wool into yarn."
    },
    "itemTypes": [
      21,
      44,
      51,
      52,
      67,
      86,
      108,
      176,
      199
    ],
    "imageNumber": 826,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 37,
      "y": 135,
      "z": 135
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.tool.wheel.spinning.",
    "difficulty": 40.0,
    "weight": 4500,
    "material": 14,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1023,
    "name": "kiln",
    "plural": "kilns",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A large kiln made from bricks with a clay inner lining and covered in dirt. The purpose is to fire clay items."
    },
    "itemTypes": [
      1,
      25,
      31,
      44,
      48,
      51,
      52,
      59,
      67,
      86,
      108,
      109,
      119,
      176,
      178,
      199,
      209
    ],
    "imageNumber": 60,
    "behaviourType": 18,
    "combatDamage": 0,
    "decayTime": 12096000,
    "dimensions": {
      "x": 75,
      "y": 75,
      "z": 150
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fireplace.kiln.",
    "difficulty": 50.0,
    "weight": 410000,
    "material": 15,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1028,
    "name": "smelter",
    "plural": "smelters",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A smelter made from bricks and clay, fits more ore than a forge."
    },
    "itemTypes": [
      1,
      25,
      31,
      44,
      47,
      48,
      51,
      52,
      59,
      67,
      86,
      108,
      109,
      119,
      176,
      178,
      199,
      209,
      259
    ],
    "imageNumber": 60,
    "behaviourType": 18,
    "combatDamage": 0,
    "decayTime": 12096000,
    "dimensions": {
      "x": 85,
      "y": 150,
      "z": 150
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.fireplace.smelter.",
    "difficulty": 65.0,
    "weight": 1000000,
    "material": 15,
    "value": 0,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1178,
    "name": "still",
    "plural": "stills",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A still used in distilling alcohol."
    },
    "itemTypes": [
      1,
      22,
      33,
      44,
      47,
      52,
      59,
      67,
      108,
      112,
      147,
      178,
      180,
      199,
      209,
      259
    ],
    "imageNumber": 290,
    "behaviourType": 18,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 25,
      "y": 25,
      "z": 30
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.still.",
    "difficulty": 45.0,
    "weight": 50000,
    "material": 10,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1284,
    "name": "boiler",
    "plural": "boilers",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A boiler used in a still."
    },
    "itemTypes": [
      1,
      22,
      31,
      33,
      54,
      77,
      112,
      157,
      178,
      229,
      232,
      240,
      245
    ],
    "imageNumber": 290,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 25,
      "y": 25,
      "z": 30
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.still.boiler.",
    "difficulty": 50.0,
    "weight": 6500,
    "material": 10,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1285,
    "name": "condenser",
    "plural": "condensers",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A condenser used in a still."
    },
    "itemTypes": [
      1,
      22,
      31,
      33,
      54,
      63,
      112,
      157,
      178,
      229,
      232,
      240,
      245
    ],
    "imageNumber": 290,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 25,
      "y": 25,
      "z": 30
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.still.condenser.",
    "difficulty": 50.0,
    "weight": 6500,
    "material": 10,
    "value": 100,
    "isPurchased": false
  }
]