[
  {
    "json-type": "item",
    "templateId": 758,
    "name": "bow rack",
    "plural": "bow racks",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A purposeful bow rack that will hold most types of bows."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      51,
      52,
      67,
      86,
      135,
      176,
      178,
      199
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 10,
      "y": 20,
      "z": 201
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.weapons.bows.",
    "difficulty": 25.0,
    "weight": 20000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 759,
    "name": "armour stand",
    "plural": "armour stands",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "An armour stand used to keep your armour."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      51,
      52,
      67,
      86,
      135,
      176,
      178,
      199
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 10,
      "y": 40,
      "z": 45
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.weapons.armour.",
    "difficulty": 20.0,
    "weight": 20000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 885,
    "name": "bedside table",
    "plural": "bedside tables",
    "size": 2,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A small wooden bedside table on four round legs featuring some intricate wooden carvings."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      51,
      52,
      86,
      92,
      108,
      135,
      157,
      176,
      180,
      199,
      256
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 50,
      "y": 81,
      "z": 87
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.bedside.table.",
    "difficulty": 30.0,
    "weight": 10000,
    "material": 14,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 892,
    "name": "wardrobe",
    "plural": "wardrobes",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A large wardrobe with wooden inlays."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      51,
      52,
      67,
      86,
      176,
      178,
      180,
      199
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 80,
      "y": 120,
      "z": 210
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wardrobe.",
    "difficulty": 60.0,
    "weight": 100000,
    "material": 14,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 893,
    "name": "coffer",
    "plural": "coffers",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A wooden coffer. Simple yet beautifully decorated."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      51,
      52,
      67,
      86,
      176,
      178,
      180,
      199,
      259
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 70,
      "y": 80,
      "z": 120
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.coffer.",
    "difficulty": 40.0,
    "weight": 100000,
    "material": 14,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 895,
    "name": "washing bowl",
    "plural": "washing bowls",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "An earthen washing bowl on a tripod made from brass."
    },
    "itemTypes": [
      1,
      22,
      33,
      44,
      51,
      52,
      67,
      86,
      178,
      180,
      199
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 40,
      "y": 40,
      "z": 74
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.bowl.washing.",
    "difficulty": 40.0,
    "weight": 7000,
    "material": 30,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 911,
    "name": "high bookshelf",
    "plural": "high bookshelves",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "Simply looking at this collection of wisdom makes you feel more clever."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      51,
      52,
      67,
      178,
      180,
      199,
      256
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 40,
      "y": 150,
      "z": 240
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.high.bookshelf.",
    "difficulty": 35.0,
    "weight": 30000,
    "material": 14,
    "value": 20000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 912,
    "name": "low bookshelf",
    "plural": "low bookshelves",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "Simply looking at this collection of wisdom makes you feel more clever."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      51,
      52,
      67,
      178,
      180,
      199,
      256
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 40,
      "y": 120,
      "z": 150
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.low.bookshelf.",
    "difficulty": 25.0,
    "weight": 19000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 927,
    "name": "cupboard",
    "plural": "cupboards",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A wooden cupboard, used to store all kinds of small items."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      51,
      52,
      67,
      86,
      176,
      178,
      180,
      199,
      259
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 58,
      "y": 90,
      "z": 135
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.cupboard.",
    "difficulty": 50.0,
    "weight": 6500,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 987,
    "name": "tapestry stand",
    "plural": "tapestry stands",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": " A stand used for making a tapestry."
    },
    "itemTypes": [
      21,
      44,
      52,
      67,
      86,
      119
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 5,
      "y": 5,
      "z": 205
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.tapestry.stand.",
    "difficulty": 30.0,
    "weight": 6000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1025,
    "name": "birdcage",
    "plural": "birdcages",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A shiny gold coloured birdcage which looks like its made from brass."
    },
    "itemTypes": [
      22,
      44,
      51,
      52,
      108,
      147,
      199
    ],
    "imageNumber": 361,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 3024000,
    "dimensions": {
      "x": 35,
      "y": 35,
      "z": 167
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.birdcage.",
    "difficulty": 75.0,
    "weight": 10000,
    "material": 30,
    "value": 100,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1030,
    "name": "sword display",
    "plural": "sword displays",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "Two swords mounted on a shield."
    },
    "itemTypes": [
      21,
      44,
      51,
      52,
      86,
      108,
      119,
      147,
      199
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 50,
      "y": 90,
      "z": 200
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.hanger.sword.",
    "difficulty": 50.0,
    "weight": 16500,
    "material": 14,
    "value": 100,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1031,
    "name": "axe display",
    "plural": "axe displays",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "Two axes mounted on a shield."
    },
    "itemTypes": [
      21,
      44,
      51,
      52,
      86,
      108,
      119,
      147,
      199
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 50,
      "y": 90,
      "z": 200
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.hanger.axe.",
    "difficulty": 50.0,
    "weight": 15500,
    "material": 14,
    "value": 100,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1117,
    "name": "alchemist's cupboard",
    "plural": "alchemist's cupboards",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A wooden cupboard, used to store small amounts of precious liquids."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      51,
      52,
      67,
      86,
      176,
      178,
      180,
      199
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 58,
      "y": 90,
      "z": 135
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.cupboard.alchemist.",
    "difficulty": 50.0,
    "weight": 6500,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1400,
    "name": "empty low bookshelf",
    "plural": "empty low shelves",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A sharp looking empty bookshelf to store your special writings."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      51,
      52,
      67,
      178,
      180,
      199,
      256
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 40,
      "y": 120,
      "z": 150
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.low.bookshelf.empty.",
    "difficulty": 25.0,
    "weight": 19000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1401,
    "name": "empty high bookshelf",
    "plural": "empty high shelves",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A sharp looking empty bookshelf to store your special writings."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      51,
      52,
      67,
      178,
      180,
      199,
      256
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 40,
      "y": 150,
      "z": 240
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.high.bookshelf.empty.",
    "difficulty": 35.0,
    "weight": 30000,
    "material": 14,
    "value": 20000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1412,
    "name": "empty shelf",
    "plural": "empty shelves",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "An empty shelf good for placing items upon."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      51,
      52,
      67,
      108,
      135,
      147,
      178,
      199,
      256
    ],
    "imageNumber": 422,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 50,
      "y": 200,
      "z": 336
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.rack.amphora.empty.",
    "difficulty": 45.0,
    "weight": 6500,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  }
]