[
  {
    "json-type": "item",
    "templateId": 260,
    "name": "round table",
    "plural": "round tables",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A small round table."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      51,
      52,
      86,
      92,
      108,
      135,
      157,
      176,
      180,
      199,
      256
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 10,
      "y": 60,
      "z": 60
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.table.round.",
    "difficulty": 20.0,
    "weight": 10000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 262,
    "name": "square table",
    "plural": "square tables",
    "size": 2,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A small square table."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      51,
      52,
      86,
      92,
      108,
      135,
      157,
      176,
      180,
      199,
      256
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 10,
      "y": 60,
      "z": 60
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.table.square.small.",
    "difficulty": 15.0,
    "weight": 10000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 264,
    "name": "dining table",
    "plural": "dining tables",
    "size": 4,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A large square dining table."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      51,
      52,
      86,
      92,
      108,
      135,
      157,
      176,
      180,
      199,
      256
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 10,
      "y": 60,
      "z": 250
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.table.square.large.",
    "difficulty": 30.0,
    "weight": 18000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 896,
    "name": "tripod table",
    "plural": "tables",
    "size": 2,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A small round table on three legs."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      51,
      52,
      67,
      86,
      157,
      178,
      180,
      199,
      256
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 70,
      "y": 70,
      "z": 84
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.tripod.table.",
    "difficulty": 35.0,
    "weight": 12000,
    "material": 14,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 928,
    "name": "round marble table",
    "plural": "round marble tables",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A sturdy round table made from marble."
    },
    "itemTypes": [
      1,
      25,
      44,
      47,
      51,
      52,
      67,
      86,
      108,
      173,
      176,
      178,
      180,
      199,
      256
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 12096000,
    "dimensions": {
      "x": 100,
      "y": 148,
      "z": 148
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.table.round.marble.",
    "difficulty": 45.0,
    "weight": 80000,
    "material": 62,
    "value": 30000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 929,
    "name": "rectangular marble table",
    "plural": "rectangular marble tables",
    "size": 3,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A sturdy rectangular table made from marble."
    },
    "itemTypes": [
      1,
      25,
      44,
      47,
      51,
      52,
      67,
      86,
      108,
      173,
      176,
      178,
      180,
      199,
      256
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 12096000,
    "dimensions": {
      "x": 105,
      "y": 133,
      "z": 210
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.table.square.marble.",
    "difficulty": 45.0,
    "weight": 100000,
    "material": 62,
    "value": 30000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1402,
    "name": "bar table",
    "plural": "bar tables",
    "size": 4,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A large bar made for holding copious amounts of drinks."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      51,
      52,
      86,
      92,
      108,
      135,
      157,
      176,
      180,
      199,
      256
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 60,
      "y": 80,
      "z": 200
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.decoration.thirstyaussiebar.",
    "difficulty": 35.0,
    "weight": 18000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  }
]