[
  {
    "json-type": "item",
    "templateId": 189,
    "name": "barrel",
    "plural": "barrels",
    "size": 2,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A small wooden barrel."
    },
    "itemTypes": [
      1,
      21,
      33,
      44,
      47,
      51,
      52,
      86,
      92,
      108,
      135,
      157,
      199,
      236,
      259
    ],
    "imageNumber": 245,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 2419200,
    "dimensions": {
      "x": 30,
      "y": 30,
      "z": 50
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.barrel.small.",
    "difficulty": 5.0,
    "weight": 2000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 190,
    "name": "barrel",
    "plural": "barrels",
    "size": 4,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A large wooden barrel, strengthened by iron ribbons."
    },
    "itemTypes": [
      1,
      21,
      33,
      44,
      47,
      51,
      52,
      86,
      92,
      108,
      135,
      144,
      157,
      176,
      199,
      259
    ],
    "imageNumber": 245,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 2419200,
    "dimensions": {
      "x": 50,
      "y": 50,
      "z": 100
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.barrel.large.",
    "difficulty": 5.0,
    "weight": 5000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 576,
    "name": "tub",
    "plural": "tub",
    "size": 5,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A wide, open wooden tub that can hold lots of liquid."
    },
    "itemTypes": [
      1,
      21,
      33,
      44,
      47,
      51,
      52,
      86,
      92,
      108,
      135,
      144,
      176,
      199,
      259
    ],
    "imageNumber": 245,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 2419200,
    "dimensions": {
      "x": 100,
      "y": 150,
      "z": 150
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.barrel.huge.",
    "difficulty": 45.0,
    "weight": 60000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 661,
    "name": "food storage bin",
    "plural": "food storage bins",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A storage bin made from planks and strengthened with iron ribbons."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      48,
      51,
      52,
      92,
      108,
      135,
      144,
      145,
      147,
      176,
      199
    ],
    "imageNumber": 468,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 200,
      "y": 200,
      "z": 400
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.storagebin.food.",
    "difficulty": 10.0,
    "weight": 20000,
    "material": 14,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 662,
    "name": "bulk storage bin",
    "plural": "bulk storage bins",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A storage bin made from planks and strengthened with iron ribbons."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      48,
      51,
      52,
      92,
      108,
      135,
      144,
      145,
      147,
      176,
      199
    ],
    "imageNumber": 469,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 200,
      "y": 200,
      "z": 400
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.storagebin.",
    "difficulty": 10.0,
    "weight": 20000,
    "material": 14,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 757,
    "name": "oil barrel",
    "plural": "oil barrel",
    "size": 5,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A large closed wooden barrel with a tap, designed to hold lots of oil."
    },
    "itemTypes": [
      1,
      21,
      31,
      33,
      44,
      47,
      51,
      52,
      86,
      92,
      108,
      109,
      135,
      144,
      176,
      178,
      199,
      259
    ],
    "imageNumber": 245,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 100,
      "y": 150,
      "z": 150
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.barrel.huge.oil.",
    "difficulty": 35.0,
    "weight": 60000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 768,
    "name": "wine barrel",
    "plural": "wine barrels",
    "size": 2,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A small, carefully crafted wooden barrel which can be used for fermenting liquids."
    },
    "itemTypes": [
      1,
      21,
      33,
      44,
      47,
      51,
      52,
      77,
      67,
      86,
      92,
      108,
      135,
      147,
      178,
      199,
      236,
      259
    ],
    "imageNumber": 245,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 30,
      "y": 30,
      "z": 50
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.winebarrel.small.",
    "difficulty": 50.0,
    "weight": 2000,
    "material": 14,
    "value": 30000,
    "isPurchased": true
  }
]