[
  {
    "json-type": "item",
    "templateId": 184,
    "name": "chest",
    "plural": "chests",
    "size": 4,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A large chest made from planks and strengthened with iron ribbons."
    },
    "itemTypes": [
      1,
      21,
      31,
      44,
      47,
      51,
      52,
      92,
      108,
      135,
      147,
      176
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 30,
      "y": 50,
      "z": 200
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.chest.large.",
    "difficulty": 10.0,
    "weight": 20000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 192,
    "name": "chest",
    "plural": "chests",
    "size": 2,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A small chest made from planks."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      51,
      52,
      92,
      108,
      135,
      147,
      199
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 30,
      "y": 30,
      "z": 50
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.chest.small.",
    "difficulty": 10.0,
    "weight": 5000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 651,
    "name": "gift box",
    "plural": "giftboxes",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A gift box with nice decorations."
    },
    "itemTypes": [
      21,
      48,
      53,
      52,
      83,
      108
    ],
    "imageNumber": 243,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 10,
      "y": 10,
      "z": 31
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.giftbox.",
    "difficulty": 10.0,
    "weight": 23,
    "material": 14,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 664,
    "name": "magical chest",
    "plural": "magical chests",
    "size": 4,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A large chest that prevents non-food decay while having normal decay itself. It can not be repaired or picked up."
    },
    "itemTypes": [
      1,
      21,
      31,
      47,
      53,
      51,
      52,
      108,
      127,
      135,
      176,
      199,
      259
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 30,
      "y": 50,
      "z": 200
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.chest.large.magical.",
    "difficulty": 10.0,
    "weight": 15000,
    "material": 14,
    "value": 500000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 665,
    "name": "magical chest",
    "plural": "magical chests",
    "size": 2,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A small chest that prevents non-food decay while having normal decay itself. It can not be repaired but picked up."
    },
    "itemTypes": [
      1,
      21,
      47,
      53,
      51,
      52,
      108,
      127,
      135,
      199,
      259
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 30,
      "y": 30,
      "z": 50
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.chest.small.magical.",
    "difficulty": 10.0,
    "weight": 3000,
    "material": 14,
    "value": 250000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 851,
    "name": "small crate",
    "plural": "crates",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A small crate made from planks, primarily used to transport goods."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      48,
      51,
      52,
      92,
      108,
      135,
      145,
      176,
      199
    ],
    "imageNumber": 312,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 100,
      "y": 100,
      "z": 100
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.crate.small.",
    "difficulty": 20.0,
    "weight": 20000,
    "material": 14,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 852,
    "name": "large crate",
    "plural": "crates",
    "size": 3,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A large crate made from planks, primarily used to transport goods."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      48,
      51,
      52,
      92,
      108,
      135,
      145,
      176,
      199
    ],
    "imageNumber": 311,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 120,
      "y": 120,
      "z": 120
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.crate.large.",
    "difficulty": 50.0,
    "weight": 20000,
    "material": 14,
    "value": 10000,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 995,
    "name": "treasure chest",
    "plural": "treasure chests",
    "size": 4,
    "descriptions": {
      "superb": "almost full",
      "normal": "somewhat occupied",
      "bad": "half-full",
      "rotten": "emptyish",
      "long": "A chest inscribed with various runes. Only the gods would know why it appeared here."
    },
    "itemTypes": [
      1,
      6,
      31,
      40,
      47,
      52,
      147
    ],
    "imageNumber": 244,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 30,
      "y": 50,
      "z": 200
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.chest.large.treasure.",
    "difficulty": 210.0,
    "weight": 200000,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1097,
    "name": "gift pack",
    "plural": "giftpacks",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A gift pack containing something interesting."
    },
    "itemTypes": [
      21,
      42,
      48,
      53,
      52,
      83,
      108,
      147,
      157
    ],
    "imageNumber": 243,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 10,
      "y": 10,
      "z": 31
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.giftbox.",
    "difficulty": 10.0,
    "weight": 23,
    "material": 14,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1098,
    "name": "returner tool chest",
    "plural": "chests",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A gift pack containing something interesting."
    },
    "itemTypes": [
      21,
      42,
      48,
      53,
      52,
      83,
      108,
      157
    ],
    "imageNumber": 243,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 10,
      "y": 10,
      "z": 31
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.giftbox.",
    "difficulty": 10.0,
    "weight": 23,
    "material": 14,
    "value": 100,
    "isPurchased": false
  }
]