[
  {
    "json-type": "item",
    "templateId": 1277,
    "name": "larder",
    "plural": "larders",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A cool area for storing food."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      48,
      51,
      52,
      92,
      108,
      112,
      135,
      144,
      147,
      176,
      180,
      199
    ],
    "imageNumber": 286,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 80,
      "y": 120,
      "z": 210
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.larder.",
    "difficulty": 50.0,
    "weight": 6500,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1278,
    "name": "ice box",
    "plural": "ice box",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "An insulated box for storing ice to keep items in a larder cool."
    },
    "itemTypes": [
      1,
      21,
      31,
      54,
      112,
      157,
      229,
      232,
      240,
      245
    ],
    "imageNumber": 286,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 80,
      "y": 80,
      "z": 120
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.shelf.",
    "difficulty": 50.0,
    "weight": 6500,
    "material": 14,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1279,
    "name": "food shelf",
    "plural": "food shelves",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A food shelf."
    },
    "itemTypes": [
      1,
      21,
      31,
      112,
      157,
      229,
      232,
      240,
      245
    ],
    "imageNumber": 286,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 80,
      "y": 80,
      "z": 120
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.shelf.",
    "difficulty": 50.0,
    "weight": 6500,
    "material": 14,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1294,
    "name": "thermos",
    "plural": "thermos",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "An insulated container for storing liquids."
    },
    "itemTypes": [
      1,
      30,
      31,
      33,
      40,
      112,
      157,
      178,
      229,
      232,
      238
    ],
    "imageNumber": 425,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 10,
      "y": 10,
      "z": 20
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.pottery.thermos.",
    "difficulty": 50.0,
    "weight": 250,
    "material": 19,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1295,
    "name": "food compartment",
    "plural": "food compartments",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A small compartment for storing prepared foods."
    },
    "itemTypes": [
      1,
      22,
      31,
      40,
      112,
      157,
      178,
      229,
      232,
      238
    ],
    "imageNumber": 426,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 10,
      "y": 10,
      "z": 20
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.tin.foodtin.",
    "difficulty": 50.0,
    "weight": 250,
    "material": 34,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1296,
    "name": "lunchbox",
    "plural": "lunchboxes",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A container made from tin that keeps food fresh and warm when travelling."
    },
    "itemTypes": [
      1,
      22,
      44,
      47,
      48,
      92,
      108,
      135,
      144,
      147,
      178,
      180
    ],
    "imageNumber": 423,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 12096000,
    "dimensions": {
      "x": 14,
      "y": 17,
      "z": 22
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.tin.lunchbox.",
    "difficulty": 60.0,
    "weight": 500,
    "material": 34,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1297,
    "name": "picnic basket",
    "plural": "picnic baskets",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A wicker basket with containers for storing a bit of food and drink for travelling. 'Christmas 2016' has been engraved under the lid."
    },
    "itemTypes": [
      1,
      40,
      44,
      47,
      48,
      92,
      108,
      135,
      144,
      178,
      180,
      187,
      238
    ],
    "imageNumber": 424,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 14,
      "y": 17,
      "z": 22
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.picnicbasket.",
    "difficulty": 50.0,
    "weight": 300,
    "material": 70,
    "value": 10000,
    "isPurchased": true
  }
]