[
  {
    "json-type": "item",
    "templateId": 1108,
    "name": "wine barrel rack",
    "plural": "wine barrel racks",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A rack to store wine barrels."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      51,
      52,
      67,
      108,
      135,
      147,
      178,
      199
    ],
    "imageNumber": 401,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 30,
      "y": 150,
      "z": 300
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.rack.winebarrel.",
    "difficulty": 50.0,
    "weight": 6500,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1109,
    "name": "small barrel rack",
    "plural": "small barrel racks",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A rack to store small barrels."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      51,
      52,
      67,
      108,
      135,
      147,
      178,
      199
    ],
    "imageNumber": 402,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 30,
      "y": 150,
      "z": 300
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.rack.barrel.",
    "difficulty": 30.0,
    "weight": 6500,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1110,
    "name": "planter rack",
    "plural": "planter racks",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A rack to store herb and spice planters."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      51,
      52,
      67,
      108,
      135,
      147,
      178,
      199
    ],
    "imageNumber": 421,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 20,
      "y": 30,
      "z": 100
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.rack.planter.",
    "difficulty": 25.0,
    "weight": 6500,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1111,
    "name": "amphora rack",
    "plural": "amphora racks",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A rack to store amphoras."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      51,
      52,
      67,
      108,
      135,
      147,
      178,
      199
    ],
    "imageNumber": 422,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 50,
      "y": 200,
      "z": 336
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.rack.amphora.",
    "difficulty": 45.0,
    "weight": 6500,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1119,
    "name": "storage unit",
    "plural": "storage units",
    "size": 4,
    "descriptions": {
      "superb": "excellent",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A wooden storage unit with shelves inside to store a large amount of items."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      51,
      52,
      67,
      86,
      176,
      178,
      180,
      199
    ],
    "imageNumber": 60,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 140,
      "y": 140,
      "z": 600
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.storageunit.",
    "difficulty": 40.0,
    "weight": 200000,
    "material": 14,
    "value": 10000,
    "isPurchased": true,
    "containerSize": {
      "x": 0,
      "y": 0,
      "z": 0
    },
    "maxItemCount": 6
  },
  {
    "json-type": "item",
    "templateId": 1120,
    "name": "storage shelf",
    "plural": "storage shelves",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A shelf for storing things."
    },
    "itemTypes": [
      1,
      21,
      31,
      108,
      112,
      178,
      229,
      232,
      240,
      245
    ],
    "imageNumber": 626,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 80,
      "y": 80,
      "z": 210
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.furniture.wooden.storageshelf.",
    "difficulty": 40.0,
    "weight": 10000,
    "material": 14,
    "value": 100,
    "isPurchased": false
  },
  {
    "json-type": "item",
    "templateId": 1312,
    "name": "crate rack",
    "plural": "crate racks",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A rack to store crates."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      51,
      52,
      67,
      108,
      135,
      147,
      178,
      199
    ],
    "imageNumber": 421,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 240,
      "y": 360,
      "z": 600
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.rack.crate.",
    "difficulty": 30.0,
    "weight": 6500,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1315,
    "name": "rack for empty bsb",
    "plural": "racks for empty bsbs",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A rack to store empty bsbs in."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      51,
      52,
      67,
      108,
      135,
      147,
      178,
      199
    ],
    "imageNumber": 421,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 400,
      "y": 600,
      "z": 2000
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.rack.bsb.",
    "difficulty": 30.0,
    "weight": 6500,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1316,
    "name": "bulk container unit",
    "plural": "bulk containers units",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A unit to hold several bulk storage bins."
    },
    "itemTypes": [
      1,
      21,
      44,
      47,
      51,
      52,
      92,
      108,
      112,
      135,
      147,
      178,
      199
    ],
    "imageNumber": 421,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9072000,
    "dimensions": {
      "x": 400,
      "y": 400,
      "z": 400
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.bulk.unit.",
    "difficulty": 50.0,
    "weight": 6500,
    "material": 14,
    "value": 10000,
    "isPurchased": true
  },
  {
    "json-type": "item",
    "templateId": 1317,
    "name": "bulk storage shelf",
    "plural": "bulk storage shelves",
    "size": 3,
    "descriptions": {
      "superb": "superb",
      "normal": "good",
      "bad": "ok",
      "rotten": "poor",
      "long": "A storage bin made from planks and strengthened with iron ribbons."
    },
    "itemTypes": [
      1,
      21,
      31,
      48,
      112,
      145,
      157,
      207,
      229,
      232,
      240,
      245
    ],
    "imageNumber": 469,
    "behaviourType": 1,
    "combatDamage": 0,
    "decayTime": 9223372036854775807,
    "dimensions": {
      "x": 200,
      "y": 200,
      "z": 400
    },
    "primarySkill": -10,
    "bodySpaces": [],
    "modelName": "model.container.storagebin.",
    "difficulty": 10.0,
    "weight": 20000,
    "material": 14,
    "value": 100,
    "isPurchased": false
  }
]